<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<body th:fragment="content">
    <ul class="share-buttons">
        <li>
            <a class="btn btn-floating btn-fb" href="https://www.facebook.com/sharer/sharer.php?u=&t=" target="_blank" title="Share on Facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><i class="fa fa-facebook" aria-hidden="true"></i><span class="sr-only">Share on Facebook</span></a>
        </li>
        <li>
            <a class="btn btn-floating btn-tw" href="https://twitter.com/intent/tweet?source=&text=:%20" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20' + encodeURIComponent(document.URL)); return false;"><i class="fa fa-twitter" aria-hidden="true"></i><span class="sr-only">Tweet</span></a>
        </li>
        <li>
            <a class="btn btn-floating btn-gplus" href="https://plus.google.com/share?url=" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><i class="fa fa-google-plus" aria-hidden="true"></i><span class="sr-only">Share on Google+</span></a>
        </li>
        <li>
            <a class="btn btn-floating btn-primary" href="mailto:?subject=&body=:%20" target="_blank" title="Send email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><i class="fa fa-envelope" aria-hidden="true"></i><span class="sr-only">Send email</span></a>
        </li>
    </ul>
</body>


</html>