<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- Main Menu -->

<body th:fragment="content">


<div class="alert alert-danger alert-dismissible fade show mt-5 animated fadeInUp" role="alert"
     th:if="${errormessage!=null}">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Error!</strong> <span th:text="${errormessage}">message</span>
</div>


<div class="alert alert-success alert-dismissible fade show mt-5 animated fadeInUp" role="alert"
     th:if="${successmessage!=null}">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Ok!</strong> <span th:text="${successmessage}">message</span>
</div>


<div class="alert alert-warning alert-dismissible fade show mt-5 animated fadeInUp" role="alert"
     th:if="${warningmessage!=null}">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Warning!</strong> <span th:text="${warningmessage}">message</span>
</div>


</body>

</html>