<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- Main Menu -->

<body th:fragment="content">
	<div th:class="${'navbar fixed-top navbar-dark noshadow '+#objects.nullSafe(siteParams['topbar-class'],'bg-primary')}" style="height: 30px;">
		<div class="container">
			<div class="pull-left">
				<div class="navbar" id="topnav">
					<div class="navbar-inner">
						<th:block th:include="module::position('topmenu_left')" />
					</div>
				</div>
			</div>


			<th:block th:include="shoppingcart/components/topcart::content(${@shoppingCartHolder.getCart('shop','Cart')},'icon-shopping-cart')"	/>



			<div class="pull-right">
				<th:block th:include="users/components/usermenu::content" />
			</div>

			<div class="pull-right">
				<div class="navbar" id="topnav">
					<div class="navbar-inner">
						<th:block th:include="module::position('topmenu_right')" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="height: 30px"></div>
</body>

</html>