<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">




<div layout:fragment="content">


	<div class="page-heading blightblue">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="text-center head-big">
						<span>Error <span th:text="${statusCode}"></span>!
						</span>
					</h2>
					<div class="text-center head-big-meta">Pagina no encontrada</div>
				</div>
			</div>
		</div>
	</div>

	<div class="content">
		<div class="container">

			<div class="row">
				<div class="col-md-12 text-center">
					<h2>
						Oops<span class="lightblue">!!!</span>
					</h2>
					<h3>Ha ocurrido un error inesperado en el servidor. Por favor
						utilice el menu superior o recargue la pagina</h3>
					<hr />

					<!-- Search form -->
					<div class="form-subscribe">
						<div class="mt20">
							<a th:href="@{/}" class="btn btn-danger"><i class="icon-home"></i>
								Volver a la pagina principal</a>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>


</div>

</html>