<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<!-- Main Menu -->

<body th:fragment="content">
	<div class="topcarts">
		<div class="container">

			<th:block
				th:include="shoppingcart/components/topcart::content(${@shoppingCartHolder.getCart('shop','Resumen de Pedido')},'fa fa-shopping-cart')" />
			<th:block
				th:include="shoppingcart/components/topcartQuote::content(${@shoppingCartHolder.getCart('quote','Cotizacion')},'fa fa-file-text')" />

		
		</div>
	</div>
</body>

</html>
