<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <!-- Main Menu -->

    <body th:fragment="content">
        <div class="container"> 
            <div class="row">
                <div class="col-lg-12 col-xs-12 col-sm-12">                  
                    <img th:src="@{/img/exito-credit-card.png}" alt="Tarjeta Exito" title="Tarjeta Exito" class="tooltip-test"/>
                    <img th:src="@{/img/falabella-credit-card.png}" alt="CMR Falabella" title="Tarjeta CMR Falabella" class="tooltip-test"/>
                    <img th:src="@{/img/amex-credit-card.png}" alt="American Express" title="American Express" class="tooltip-test"/>
                    <img th:src="@{/img/mastercard-credit-card.png}" alt="Mastercard" title="Mastercard" class="tooltip-test"/>
                    <img th:src="@{/img/visa-credit-card.png}" alt="Visa" title="Visa" class="tooltip-test"/>
                </div>
            </div>
        </div>
    </body>

</html>
