<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">

<body th:fragment="content">

	<!-- Cart-->
	<div class="card card-block shoppingcart">
		<table class="table">

			<tr th:each="item,row : ${cart.items}">
				<td style="width: 100px"><a th:href="@{${item.URL}}"> <img
						th:src="@{${item.imageURL}+'thumbnails/'+${item.imageName}(w=90,h=90)}"
						alt="product"></img>
				</a></td>
				<td class="name">
					<small>
						<span th:text="${item.brandName}"></span> <span
							th:text="${item.reference}"></span>
					</small> <br/> <a th:href="@{${item.URL}}"> <strong th:text="${item.name}"></strong>
						<br />
				</a> <span th:text="${item.description}" class="hidden-md-down"></span>
					<h4 class="price"
						th:text="${cmsUtil.formatNumber(item.unitPrice,prd_config.pricePattern+' '+prd_config.defaultCurrency)}">$120.68</h4>

				</td>

				<td class="quantity" style="width: 50px; text-align: center">
					<form class="form-inline" th:id="${'form'+item.code}"
						th:if="${item.editable}"
						th:action="@{'/shoppingcart/'+${cart.name}+'/update/'+${item.code}}"
						method="get">
						<input title="presione ENTER para actualizar" name="quantity"
							style="text-align: center" type="text" size="1" value="1"
							th:value="${item.quantity}"> </input>
					</form> <span th:text="${item.quantity}" th:unless="${item.editable}"></span>
				</td>


				<td class="total" style="width: 40px"><a
					class="btn btn-danger btn-sm" th:if="${item.editable}"
					th:href="@{'/shoppingcart/'+${cart.name}+'/remove/'+${item.code}(currentURI=${currentURI})}">
						<i class="fa fa-remove"></i>
				</a></td>
			</tr>

		</table>

	</div>

</body>

</html>