<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="templateprint">

<div class="maincontainer" layout:fragment="content">

	<!-- Main Title-->
	<div class="titles animated fadeInUp time3">
		<div class="pull-left">
			<h1 class="headinglefttitle" th:text="${cart.title}">Listado de Productos</h1>
		</div>
		<div class="pull-right">
			<span
				th:text="${#dates.format(new java.util.Date(), 'dd/MMM/yyyy HH:mm')}"></span>
		</div>
	</div>
	<div class="clear-both"></div>

	<div class="col-md-4" th:if="${@userHolder.current!=null}">

		<h3>Cliente</h3>
		<div class="form-group" style="margin-bottom: 0px">
			<label class="col-md-2 orange">CC/NIT</label> <span
				class="col-md-10 " th:text="${@userHolder.current.identification}"></span>

		</div>

		<div class="form-group" style="margin-bottom: 0px">
			<label class="col-md-2 orange">Nombres</label> <span
				class="col-md-10 " th:text="${@userHolder.current.firstName}"></span>

		</div>

		<div class="form-group" style="margin-bottom: 0px">
			<label class="col-md-2 orange">Apellidos</label> <span
				class="col-md-10" th:text="${@userHolder.current.lastName}"></span>

		</div>

		<div class="form-group" style="margin-bottom: 0px">
			<label class="col-md-2 orange">Email</label> <span class="col-md-10 "
				th:text="${@userHolder.current.username}"></span>

		</div>

	</div>

	<th:block th:include="shoppingcart/components/tableReadonly::content" />



</div>
</html>
