body{
	overflow-x: hidden;
}

.ul-disc-style ul{
	list-style-type: disc !important;
}

.fullwidth{
	width:100% !important;
	max-width: 3000px;	
}

.pd0{
	padding: 0;
}

.mg0{
	margin: 0;
}

.bd0{
	border: 0;
}

.flexslider{
	border: 0 !important;
}

.timeline, .customisable-border{
	background-color: none !important;
	border: 0; 
}

