<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">

<div class="maincontainer" layout:fragment="content">


	<div class="container">
		<!-- Main Title-->
		<div class="titles animated fadeInUp time3">
			<div class="pull-left">
				<h1 class="headinglefttitle">Resultado de Transaccion</h1>
				<div th:text="${subtitle}" class="headingsubtitle"></div>
			</div>
			<i class="icon-check"></i>
		</div>

		<div class="row mt40">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt40column">
				<table class="table">
					<tr>
						<td><label class="orange">Estado</label></td>
						<td><span th:text="${transaction.statusText}"></span></td>
					</tr>
					<tr>
						<td><label class="orange">Fecha Inicio</label></td>
						<td><span th:text="${transaction.startDate}"></span></td>
					</tr>
					<tr>
						<td><label class="orange">Fecha Final</label></td>
						<td><span th:text="${transaction.endDate}"></span></td>
					</tr>
					<tr>
						<td><label class="orange">Ref. Transaccion</label></td>
						<td><span th:text="${transaction.uuid}"></span></td>
					</tr>
					<tr>
						<td><label class="orange">Referencia</label></td>
						<td><span th:text="${transaction.reference}"></span></td>
					</tr>
					<tr>
						<td><label class="orange">Referencia 2</label></td>
						<td><span th:text="${transaction.reference2}"></span></td>
					</tr>
					<tr>
						<td><label class="orange">Referencia 3</label></td>
						<td><span th:text="${transaction.reference3}"></span></td>
					</tr>
					<tr>
						<td><label class="orange">Banco</label></td>
						<td><span th:text="${transaction.bank}"></span></td>
					</tr>
					<tr>
						<td><label class="orange">Descripcion</label></td>
						<td><span th:text="${transaction.description}"></span></td>
					</tr>
					<tr>
						<td><label class="orange">Valor</label></td>
						<td><span th:text="${transaction.amount}"></span></td>
					</tr>
					<tr>
						<td><label class="orange">Moneda</label></td>
						<td><span th:text="${transaction.currency}"></span></td>
					</tr>
					<tr>
						<td><label class="orange">Metodo de Pago</label></td>
						<td><span th:text="${transaction.paymentMethod}"></span></td>
					</tr>
					<tr>
						<td><label class="orange">Moneda</label></td>
						<td><span th:text="${transaction.currency}"></span></td>
					</tr>
					<tr>
						<td><label class="orange">IP</label></td>
						<td><span th:text="${transaction.clientIP}"></span></td>
					</tr>
				</table>


			</div>
		</div>
		<div class="row mt40" th:if="${cmsModules.isUsed('txResponseBottom')}">
			<div class="col-md-12">
				<th:block th:include="module::position('txResponseBottom')" />
			</div>
		</div>

	</div>
</div>
</html>