<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2009 - 2019 Dynamia Soluciones IT S.A.S - NIT 900302344-1
  ~ Colombia - South America
  ~ All Rights Reserved.
  ~
  ~ DynamiaCMS is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License (LGPL v3) as
  ~ published by the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ DynamiaCMS is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public License
  ~ along with DynamiaCMS.  If not, see <https://www.gnu.org/licenses/>.
  ~
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd

       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
       default-autowire="byName">
    <context:annotation-config/>
    <context:component-scan base-package="com.dynamia"/>


    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="jdbc.properties" />

    <!-- Data Source-->
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="${jdbc.driverClassName}"
          p:url="${jdbc.url}"
          p:username="${jdbc.username}"
          p:password="${jdbc.password}" >
    </bean>

    <!-- Persistence Unit Manager -->
    <bean id="persistenceUnitManager" class="com.dynamia.tools.domain.jpa.ModularPersistenceUnitManager">
        <property name="persistenceXmlLocations">
            <list>
                <value>classpath*:META-INF/persistence.xml</value>
            </list>
        </property>
        <property name="defaultDataSource" ref="dataSource"/>
    </bean>

    <!-- EntityManagerFactory -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" >

        <property name="dataSource" ref="dataSource"/>
        <property name="persistenceUnitManager" ref="persistenceUnitManager" />
        <property name="jpaVendorAdapter">
            <bean
                class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"
                p:showSql="${hibernate.showSql}"
                p:generateDdl="${hibernate.generateDdl}"
                p:databasePlatform="${hibernate.dialect}" />
        </property>

        <property name="jpaProperties">
            <props>
                <!-- Searching -->
                <!--prop key="hibernate.search.default.indexBase">
                    ${hibernate.search.indexes}
                </prop-->
                <prop key="hibernate.cache.provider_class">
                    ${hibernate.cacheProvider}
                </prop>
                <prop key="hibernate.hibernate.cache.use_query_cache">
                    ${hibernate.cacheQuery}
                </prop>

                <prop key="hibernate.c3p0.min_size">
                    ${pool.MinSize}
                </prop>
                <prop key="hibernate.c3p0.max_size">
                    ${pool.MaxSize}
                </prop>
                <prop key="hibernate.c3p0.timeout">
                    ${pool.Timeout}
                </prop>
                <prop key="hibernate.c3p0.max_statements">
                    ${pool.MaxStatements}
                </prop>
                <prop key="hibernate.c3p0.idle_test_period">
                    ${pool.IdleTestPeriod}
                </prop>

            </props>
        </property>
    </bean>
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

    <!-- TransactionManager -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager"  />
    <tx:annotation-driven />

</beans>