body{font-family: 'Khula', sans-serif;background-color: #ededed}
#fondo{transition: all 0.5s ease 0s;position: fixed;width: 100%; height: 100%;left: 0;top:0;opacity: 0.4;background-color: #000;z-index:10000;display: none;}
#fondo.sticky{transition: all 0.5s ease 0s;display:block;}

header .encabezado-checkout{background-color: #b0c80b;}
header .encabezado-checkout .ayuda {color: #fff;font-size: 20px;padding-top: 14px;text-align: right;}

#nota {min-height:100px;border-bottom: 1px solid;border-left: 1px solid;border-radius: 10px 0 0 10px;border-top: 1px solid;min-width: 340px;padding: 15px;position: fixed;right: -370px;top: 150px;overflow: hidden;z-index:10000;transition: all 0.5s ease 0s;}
#nota.sticky{right:0px;transition: all 0.5s ease 0s;}
#nota .texto {display: block;width: 330px;transition: all 0.5s ease 0s;}
#nota .texto > .titulo {display: block;font-size: 20px;font-weight: bold;}
#nota .texto > .contenido {display:block;}
#nota.ok {background: #b0c80b none repeat scroll 0 0;color:#fff;}
#nota.fault {background: #646464 none repeat scroll 0 0;color:#fff;}
#nota.alert {background: #e6b301 none repeat scroll 0 0;color:#fff;}

#nota2 {min-height:100px;border-bottom: 1px solid;border-left: 1px solid;border-radius: 10px 0 0 10px;border-top: 1px solid;min-width: 340px;padding: 15px;position: fixed;right: -370px;top: 150px;overflow: hidden;z-index:10000;transition: all 0.5s ease 0s;}
#nota2.sticky{right:0px;transition: all 0.5s ease 0s;}
#nota2 .texto {display: block;width: 330px;transition: all 0.5s ease 0s;}
#nota2 .texto > .titulo {display: block;font-size: 20px;font-weight: bold;}
#nota2 .texto > .contenido {display:block;}
#nota2.ok {background: #b0c80b none repeat scroll 0 0;color:#fff;}
#nota2.fault {background: #646464 none repeat scroll 0 0;color:#fff;}
#nota2.alert {background: #e6b301 none repeat scroll 0 0;color:#fff;}

#main-content .content-area .estado-compra {padding: 0;}
#maincontent .izquierda .datos-configuracion{overflow:hidden;background-color: #fff;padding:10px;}
#maincontent .derecha .resumen{background-color: #fff;padding:10px;}
#maincontent .centro{margin-bottom:15px;}
#maincontent .centro .espacio-usuario{background-color: #fff;padding:10px;}
#maincontent .centro .espacio-usuario .bienvenida{display: inline-block;}
#maincontent .centro .espacio-usuario a {color: #000;font-size: 15px;margin-left: 6px;text-decoration: underline;}
#maincontent .centro .espacio-usuario p{display: inline-block;}
#maincontent .centro .espacio-usuario .mensaje {color: #646464;display: block;font-size: 18px;}

#maincontent .izquierda{margin-bottom: 50px;padding-bottom:20px !important;}
#maincontent .izquierda .medios-pagos{background-color: #fff;}
#maincontent .izquierda .medios-pagos button.boton-titulo {width:100%;background-color: #fff;border:none;border-bottom: 1px solid #ccc;}
#maincontent .izquierda .medios-pagos button.boton-titulo i {color: #646464;font-size: 22px;margin-top: 15px;}
#maincontent .izquierda a.guardar {background: #b0c80b none repeat scroll 0 0;border-radius: 5px;color: #fff;display: block;font-size: 21px;margin-bottom: 10px;margin-top: 10px;padding: 5px;text-align: center;}
#maincontent .izquierda a.guardar:hover{background:#ffa200;}
select#direccion-1, select#direccion-2, select#pais, select#departamento, select#ciudad {-webkit-appearance: button;-webkit-border-radius: 2px;-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);-webkit-padding-end: 20px;-webkit-padding-start: 2px;-webkit-user-select: none;background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);background-position: 97% center;background-repeat: no-repeat;border: 1px solid #AAA;color: #555;font-size: inherit;overflow: hidden;padding: 5px 10px;text-overflow: ellipsis;white-space: nowrap;width: 100%;}
#datoAdicional, #datoDireccion {border: 1px solid #aaa;color:#555;}
input#nombreDireccion, input#datoTelefono, input#datoCelular {border: 1px solid #aaa;width: 100%;padding:5px 10px;}
input#datoTelefono, input#datoCelular {width:50%;}
#maincontent .izquierda .medios-pagos .direccion-nueva{margin-bottom:20px;}

#maincontent .derecha {margin-bottom: 50px;}
#maincontent .derecha .resumen > h3 {margin-top: 5px;}
#maincontent .derecha .resumen .item {border-bottom: 1px dashed #ccc;padding: 0;margin-top:10px;}
#maincontent .derecha .resumen .item .imagen {padding:0px;}
#maincontent .derecha .resumen .item .descripcion > span {display: block;font-size: 10px;line-height: 13px;}
#maincontent .derecha .resumen .item .descripcion > span.precio {font-size: 12px;font-weight: bold;text-align: right;}
#maincontent .derecha .resumen .item .descripcion > span.nombre {font-weight: bold;text-transform: uppercase;}
#maincontent .derecha .resumen .editar {padding: 0;}
#maincontent .derecha .resumen .editar > a {display: block;font-size: 15px;padding-bottom: 10px;padding-top: 10px;text-decoration: underline;}
#maincontent .derecha .resumen .total-boxcarrito {background: #ccc none repeat scroll 0 0;font-weight: bold;padding-bottom: 3px;padding-top: 8px;}
#maincontent .derecha .seguridad-compra {margin-top: 15px;padding: 0;}
#maincontent .derecha .seguridad-compra .fa-lock {font-size: 60px;}
#maincontent .derecha .seguridad-compra .fa-truck {font-size: 60px;}
#maincontent .derecha .seguridad-compra .fa-undo {font-size: 60px;}
#maincontent .derecha .seguridad-compra span {padding:0px;line-height: 15px;text-align: center;}
#maincontent .derecha .seguridad-compra span a {color:#646464;}
#maincontent .derecha .seguridad-compra span a:hover {color:#444;}

#maincontent .izquierda .medios-pagos .datos-cliente {border-top: 1px solid #ededed;color: #999;margin-top: 15px;padding-bottom: 10px;padding-top: 10px;}
#maincontent .izquierda .medios-pagos .datos-cliente h4 {font-weight: bold;margin:0px;}
#maincontent .izquierda .medios-pagos .datos-cliente span{display:block;}
#maincontent .izquierda .medios-pagos .datos-envio {margin-bottom:15px;padding: 10px;border: 1px solid #ededed;border-radius: 5px;color:#999;}
#maincontent .izquierda .medios-pagos .datos-envio span.titulo {border-bottom: 1px dashed #999;display: block;font-weight: bold;margin-bottom: 7px;padding: 2px;text-align: center;text-transform: uppercase;}
#maincontent .izquierda .medios-pagos .datos-envio .direccion-envio {background: #ededed none repeat scroll 0 0;border-radius: 5px;margin-bottom: 15px;padding: 10px;}
#maincontent .izquierda .medios-pagos .datos-envio .direccion-envio > span {display: block;}
#maincontent .izquierda .medios-pagos .datos-envio .direccion-facturacion {background: #ededed none repeat scroll 0 0;border-radius: 5px;margin-bottom: 15px;padding: 10px;}
#maincontent .izquierda .medios-pagos .datos-envio .direccion-facturacion > span {display: block;}
#maincontent .izquierda .medios-pagos .datos-envio .datos-adicionales {background: #ededed none repeat scroll 0 0;border-radius: 5px;padding: 10px;}
#maincontent .izquierda .medios-pagos .datos-envio .datos-adicionales > span {display: block;}
#maincontent .izquierda .medios-pagos .datos-envio .boton-pagar{padding:5px;}
#maincontent .izquierda .medios-pagos .boton-pagar a {background: #b0c80b none repeat scroll 0 0;border-radius: 5px;color: #fff;display: block;font-size: 21px;margin-bottom: 10px;margin-top: 10px;padding: 5px;text-align: center;}
#maincontent .izquierda .medios-pagos .boton-pagar a:hover{background:#ffa200;}

#collapseInfo .subtitulo {text-align: left;font-size: 25px;font-family: open sans condensed;font-weight: bold;margin-top: 5px;margin-bottom: 5px;padding: 5px;}
.direccionesDisponibles .direccion, .direccionesDisponibles2 .direccion2 {margin-bottom:15px;}
.direccionesDisponibles .direccion > a, .direccionesDisponibles2 .direccion2 > a {border: 1px solid #646464;color: #646464;display: block;padding-left: 60px;padding-top: 10px;padding-bottom: 10px;padding-right: 10px;background-image: url(/img/chk-off.png);background-repeat: no-repeat;background-color: #fff;}
.direccionesDisponibles .direccion > a:hover, .direccionesDisponibles2 .direccion2 > a:hover {background-color: beige;text-decoration: none; font-weight: bold;}
.direccionesDisponibles .direccion > a.activo, .direccionesDisponibles2 .direccion2 > a.activo{background-image: url(/img/chk-on.png);background-color: #d7d7d7;}
.direccionesAdicional, .direccionesDisponibles, .direccionesDisponibles2 {margin-bottom:20px;display:none;}
.direccionesAdicional.disponible, .direccionesDisponibles.disponible, .direccionesDisponibles2.disponible {display:block;}
.direccionAdicional-recoger .mensaje span {padding: 15px;color: #999;font-size: 19px;}
.direccion-sin, .direccion2-sin, .direccionAdicional-sin, .terminos-sin {text-align: center;font-size: 17px;padding: 20px;color:#a7a7a7;}
.direccion-sin.off, .direccion2-sin.off, .direccionAdicional-sin.off, .terminos-sin.off {display:none;}
.direccion-recoger, .direccionAdicional-recoger {display:none; text-align: center;margin-bottom:15px;}
.direccion-recoger.activo, .direccionAdicional-recoger.activo{display:block;}
.direccion-recoger .mensaje span {border: 1px solid;padding: 7px;background: #ffa200;color: #fff;font-family: open sans condensed;font-size: 17px;}
.direccion-recoger .mensaje span > p {margin: 0;}
.iconos-entrega{margin-bottom: 20px;}
.terminos{display:none;}
.terminos.activo {display:block;}
.terminos .aceptaterminos{text-align: center;}
.terminos .guardarterminos button {border: 1px solid;padding: 5px;font-size: 16px;margin-bottom: 20px;}

.envioEnlinea a, .envioContraentrega a, .recogerEntienda a, .envioEnlinea span, .envioContraentrega span, .recogerEntienda span {border:3px solid #b0c80b;display:block;border-radius:12px;}
.envioEnlinea a:hover, .envioContraentrega a:hover, .recogerEntienda a:hover {background-color:#efefef;cursor: hand;}
.envioEnlinea a.activo, .envioContraentrega a.activo, .recogerEntienda a.activo{background-color:#ddd;border:3px solid #646464;}
button#submitBtn {margin-top: 10px;background: gray;color: #fff; font-size: 18px;padding: 10px;}
button#submitBtn2 {margin-top: 10px;background: red;color: #fff; font-size: 18px;padding: 10px;}

.recuadro-datos-cliente{border:1px dotted #999;background-color: #efefef;border-radius:5px; padding-top:10px;padding-bottom:10px;}
.recuadro-datos-cliente span.titulo {font-size: 20px;font-weight: bold;}
.recuadro-datos-cliente span.encabezado {font-size: 10px;font-weight: bold;}
.recuadro-datos-cliente span.valor {height: 20px;margin-bottom: 3px;font-size: 16px;}


footer #pie {background-color: #fff;bottom: 0;font-size: 12px;position: fixed;width: 100%;}
footer #pie .info{}
footer #pie .info ul{list-style: none;padding-left: 0;}
footer #pie .info ul li{float: left; padding:10px;}
footer #pie .info ul li.nomcompulago{color:#b0c80b;}