.headerimage {
	height: 150px;
	margin-top: 35px;
	width: 100%;
	position: absolute;
	z-index: -1000;
	background-repeat: no-repeat;
	background-position: top center;
}

.footerimage {
	height: 250px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: top center;
}

.topsearch{
	margin-top: 40px;
}
