.headerimage {
	height: 150px;
	margin-top: 35px;
	width: 100%;
	position: absolute;
	z-index: -1000;
	background-repeat: no-repeat;
	background-position: top center;
}

.footerimage {
	height: 250px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: top center;
}

.topsearch {
	margin-top: 40px;
}

/* centered columns styles */
.row-centered {
	text-align: center;
}

.col-centered {
	display: inline-block;
	float: none;
	/* reset the text-align */
	text-align: left;
	/* inline-block space fix */
	margin-right: -4px;
}

.col-fixed {
	/* custom width */
	width: 320px;
}

.col-min {
	/* custom min width */
	min-width: 320px;
}

.col-max {
	/* custom max width */
	max-width: 320px;
}

.footerimage a:hover{
	text-decoration: underline !important;
}

.footerimage .light a{
	color: white !important;
}

.footerimage .light h1,.footerimage .light h2,.footerimage .light h3{
	color: white !important;
}

.common a:link{
	color: #337ab7;	
}

.common a:hover{
	text-decoration: underline;
}
