.contact ul.productinfo li {
	height: auto;
}

.brands {
	height: 30px;
	overflow: hidden;
}

ul.brands>li>a {
	margin: 0;
	font-size: 13px;
	padding: 6px;
}

ul.brands>li>a:hover {
	color: black;
}

ul.subcategories>li>a {
	margin: 0;
	font-size: 12px;
	padding: 6px;
}

ul.subcategories>li+li>a {
	margin: 0;
}

#webchat {
	position: fixed;
	height: 50px;
	width: 250px;
	right: 80px;
	bottom: 0;
	z-index: 9999;
	text-align: center;
	font-size: 18px
}

#webchat a {
	color: white;
}

.productratecart {
	margin: 0px;
}

.thumbnail .sale, .thumbnail .new, .thumbnail .offer {
	left: auto;
	right: 0px;
}

.productpanel:hover .productname a {
	color: black;
}

.productpageprice {
	width: auto;
}

.brand {
	bottom: -20px;
	left: 2px;
	position: absolute;
	z-index: 999;
	background-color: white;
	font-size: 12px;
	opacity: 0.95;
}

.productname {	
	overflow: hidden;
	text-align: left;
	font-size: 15px;
}

.productname a {
	color: #424242;
}

.titles {
	border: 0;
}

.oldprice {
	font-size: inherit !important;
}

.topcart {
	margin-top: 0px;
	margin-right: 10px;
}

.topsearch {
	margin: 0px 45px 0 0;
}

.headerdetails {
	padding: 0px;
	border: 0;
}

.container.mt10.banners.container {
	margin-top: 0;
	max-width: 100%;
}

.container.mt10.banners.container {
	padding-right: 0px;
	padding-left: 0px;
}

header {
	padding-bottom: 8px;
	background: url("/img/header.png");
	background-size: 100% 100%;
}

header #mainmenu {
	background: #2b704a;
	background: -moz-linear-gradient(top, #2b704a 0%, #019040 100%);
	background: -webkit-linear-gradient(top, #2b704a 0%, #019040 100%);
	background: linear-gradient(to bottom, #2b704a 0%, #019040 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b704a',
		endColorstr='#019040', GradientType=0);
}

header #mainmenu .subnav {
	background-color: transparent;
	height: 50px;
	padding: 0px;
	margin: 0px;
}

header #mainmenu {
	-webkit-box-shadow: 0px 5px 15px -4px rgba(0, 0, 0, 0.45);
	-moz-box-shadow: 0px 5px 15px -4px rgba(0, 0, 0, 0.45);
	box-shadow: 0px 5px 15px -4px rgba(0, 0, 0, 0.45);
	border-bottom: 0;
}

header #mainmenu a.topmenu {
	color: white;
	text-transform: none;
	height: 49px;
}

header #mainmenu a.topmenu:hover {
	background: #2b704a;
}

header #mainmenu a.topmenu.special {
	color: black;
	padding: 10px 20px;
	position: absolute;
	right: 12px;
	top: 0;
	border: 4px double #2b704a;
	text-transform: uppercase;
	font-weight: bold;
	background: #ffeb3f;
	background: -moz-linear-gradient(top, #ffeb3f 69%, #fceb02 100%);
	background: -webkit-linear-gradient(top, #ffeb3f 69%, #fceb02 100%);
	background: linear-gradient(to bottom, #ffeb3f 69%, #fceb02 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffeb3f',
		endColorstr='#fceb02', GradientType=0);
}

header #mainmenu a.topmenu.special:hover {
	background: #fbe100;
}

.footercontent {
	background-color: #2b704a;
}

.simplelinks a {
	color: #f4f4f4;
}

.simplelinks a:hover {
	text-decoration: underline;
}

.simplelinks {
	text-align: center
}

.simplelinks li {
	display: inline-block;
	padding: 3px 5px;
	margin: 12px 0
}

.usermenu {
	padding: 3px 5px;
	margin: 12px;
}

.simplelinks li a:hover {
	color: #fff
}

h2 a {
	color: #2b704a
}

h1.title, h2.title, h3.title, h4.title {
	background: #2b704a;
	background: -moz-linear-gradient(top, #2b704a 0%, #019040 100%);
	background: -webkit-linear-gradient(top, #2b704a 0%, #019040 100%);
	background: linear-gradient(to bottom, #2b704a 0%, #019040 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b704a',
		endColorstr='#019040', GradientType=0);
	color: white;
	border-bottom: 3px solid #fbe100;
	padding: 6px;
	padding-left: 10px;
	margin-top: 30px;
}

.shadow {
	-webkit-box-shadow: 0px 5px 15px -4px rgba(0, 0, 0, 0.45);
	-moz-box-shadow: 0px 5px 15px -4px rgba(0, 0, 0, 0.45);
	box-shadow: 0px 5px 15px -4px rgba(0, 0, 0, 0.45);
	border-bottom: 0;
}

.lista li {
	list-style-image: url("/img/bullet.png") !important;
	padding: 3px;
}

.lista {
	margin-left: 40px !important;
}

footer * {
	color: white !important;
}

.footersocial {
	background-color: transparent !important;
}

.footersocial h2 {
	border-bottom: 1px solid white;
}

.social a {
	width: 24px;
	height: 24px;
	margin: 0px 3px;
	line-height: 24px;
	color: #fff;
	display: inline-block;
	text-align: center;
}

.bblue {
	background: #1171a3 !important;
	color: #fff !important;
	border: 0px !important;
}

.bred {
	background: #fa3031 !important;
	color: #fff !important;
	border: 0px !important;
}

.blightblue {
	background: #52b9e9 !important;
	color: #fff !important;
	border: 0px !important;
}

.simplebanners .flex-next, .simplebanners .flex-prev, .simplebanners .flex-control-nav,
	.simplebanners .flex-control-paging {
	display: none;
}

.productpanel {
	height: 280px;
}

.productpanel .productname {
	font-size: 12px;
}

.productpanel .brand {
	font-size: 10px;
	font-weight: bold;
}

header .topsearch{
	margin-bottom: 20px;
}

.topcarts .container{
	background-color:  #dde8c6;
	margin-top: 10px;
	border: 1px solid gray;
	border-radius: 10px; 
}

.topcarts .carticon{
	background: white;
	float: left;
	padding: 10px;
	border: 1px solid silver;
	margin: 10px;
}

.topcarts .carttitle{
	font-weight: bolder;
	color: #2f84d9;
}

.pedido .row{
	margin-bottom: 30px;
}

.cambiarCliente{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.cambiarCliente select,.cambiarCliente button{
	height: 42px;
}

.topcarts .groupName{
	padding-top: 10px;
	font-weight: bolder;
}

td.hiddenRow:has(div.collapse){
	display: none;
}