<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">


    <div class="container" layout:fragment="content">

        <!-- Main Title-->
        <div class="titles">
            <div class="pull-left">
                <h1 class="headinglefttitle">Olvide mi Password</h1>
                <div class="headingsubtitle">Se le enviara un correo electronico con un nuevo password generado</div>
            </div>
            <i class="icon-frown"></i>  
        </div>

        <div class="row mt40">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <form id="userForm" class="form-vertical" action="#" th:action="@{/users/resetpassword}" th:object="${userForm}" method="post">
                 

                    <div class="form-group">
                        <label  class="col-lg-12 control-label">Ingrese su correo Electronico:<span class="red">*</span></label>
                           <div class="col-lg-12">
                            <input  type="text"  class="form-control" th:field="*{data.username}"/>
                        </div>
                     
                    </div>


                    <br/>
                    
                    <input type="hidden" th:field="*{data.id}"/>
                    <a  class="btn btn-danger" onclick="$('#userForm').submit();">Reiniciar Password</a>

                </form>
            </div>

        </div>

    </div>


</html>
