<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <!-- Just a fragment -->
    <head><title>Category Fragment</title></head>
    <body data-th-fragment="content">
        <!--categories-->        

        <h2 class="heading1"><span class="maintext">Categorias</span></h2>
        <ul class="nav nav-list categories">
            <li th:each="cat : ${prd_categories}">
                <a th:href="@{'/products/category/'+${cat.id}+'/'+${cat.alias}}" 
                   th:text="${cat.name}" href="#">Categoria ABC</a> 
            </li>

        </ul>


    </body>

</html>
