<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">


    <div class="container" layout:fragment="content">



        <div class="row mt10">



            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 mt40column">
                <h2 th:text="${title}">Title</h2>

                <div th:include="products/subcategorylist::content"/>

                <!--Sorting-->



                <!-- PRODUCTS -->

                <div class="featureprojectcontianer mt10" id="productlist">
                    <div class="featureprojectwrap latestprojectcontianer grid">

                        <ul class="mt40 clearfix ">
                            <!-- Product Data -->
                            <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12" th:each="prd : ${prd_products}">
                                <div th:include="products/productdata::content"/>
                            </li>
                        </ul>


                        <!-- Paging-->
                        <div th:include="products/productpagination::content" />
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mt40column"> 
                <!--categories-->        
                <div th:include="products/categorylist::content"/>
            </div>
        </div>
    </div>

</html>
