<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <!-- Just a fragment -->
    <head><title>Category Fragment</title></head>
    <body th:fragment="content">
        <div class="mt40 clearfix">
            <ul class="pagination pull-right">
                <li><a >Prev</a>
                </li>
                <li class="active">
                    <a >1</a>
                </li>
                <li><a >2</a>
                </li>
                <li><a >3</a>
                </li>
                <li><a >4</a>
                </li>
                <li><a >Next</a>
                </li>
            </ul>
        </div>


    </body>

</html>
