<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <!-- Just a fragment -->
    <head><title>Form Fragment</title></head>
    <body th:fragment="content">
        <h2 class="heading1"><span class="maintext">Busqueda Avanzada</span></h2>
        <form class="form-horizontal" th:action="@{/store/search}" th:object="${prd_searchForm}" th:method="get">
            <fieldset>
              
                <!-- Text input-->
                <div class="control-group">
                    <label class="control-label" for="nombre">Nombre</label>
                    <div class="controls">
                        <input th:field="*{name}" id="nombre" name="" type="text" placeholder="nombre del producto" class="form-control" />

                    </div>
                </div>

                <!-- Text input-->
                <div class="control-group">
                    <label class="control-label" for="precioMinimo">Precio Minimo</label>
                    <div class="controls">
                        <input th:field="*{minPrice}" id="precioMinimo" name="textinput" type="text" placeholder="Ingrese valor sin puntos ni comas" class="form-control"/>

                    </div>
                </div>

                <!-- Text input-->
                <div class="control-group">
                    <label class="control-label" for="precioMaximo">Precio Maximo</label>
                    <div class="controls">
                        <input th:field="*{maxPrice}" id="precioMaximo"  type="text" placeholder="Ingrese valor sin puntos ni comas" class="form-control"/>

                    </div>
                </div>

                <!-- Select Multiple -->
                <div class="control-group">
                    <label class="control-label" for="category">Categoria</label>
                    <div class="controls">
                        <select th:field="*{categoryId}"  name="category" class="form-control">
                            <option th:value="${null}">-seleccione categoria-</option>
                            <option th:each="cat : ${prd_categories}" th:text="${cat.name}" th:value="${cat.id}">Option one</option>

                        </select>
                    </div>
                </div>

                <!-- Select Multiple -->
                <div class="control-group">
                    <label class="control-label" for="brand">Fabricante</label>
                    <div class="controls">
                        <select th:field="*{brandId}"  name="brand" class="form-control" >
                            <option  th:value="${null}">-seleccione fabricante-</option>
                            <option th:each="brd : ${prd_brands}" th:text="${brd.name}" th:value="${brd.id}">Option one</option>
                        </select>
                    </div>
                </div>

                <!-- Multiple Checkboxes (inline) -->
                <div class="control-group">

                    <div class="controls">
                        <label th:field="*{stock}" class="checkbox inline" for="checkboxes-0">
                            <input type="checkbox" name="checkboxes" id="checkboxes-0" value="En Inventario"/>
                            En Inventario
                        </label>
                    </div>
                </div>

                <!-- Button -->
                <div class="control-group">

                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </div>

            </fieldset>
        </form>




    </body>

</html>
