<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <!-- Just a fragment -->
    <head><title>Category Fragment</title></head>
    <body data-th-fragment="content">
        <div class="sorting well">
            <form class=" form-inline pull-left">
                Sort By :
                <select class="span2">
                    <option>Default</option>
                    <option>Name</option>
                    <option>Pirce</option>
                    <option>Rating </option>
                    <option>Color</option>
                </select>
                &nbsp;&nbsp;
                Show:
                <select class="span1">
                    <option>10</option>
                    <option>15</option>
                    <option>20</option>
                    <option>25</option>
                    <option>30</option>
                </select>
            </form>
            <div class="btn-group pull-right">
                <button class="btn" id="list"><i class="icon-th-list"></i> </button>
                <button class="btn btn-orange" id="grid"><i class="icon-th icon-white"></i></button>
            </div>
        </div>



    </body>

</html>
