<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <!-- Just a fragment -->
    <head><title>Category Fragment</title></head>
    <body th:fragment="content">
        <!--subcategories-->        

        <ul class="nav nav-pills" th:if="${prd_subcategories!=null and not #lists.isEmpty(prd_subcategories)}">           
            <li th:each="cat : ${prd_subcategories}">
                <a th:href="@{'/store/category/'+${cat.id}+'/'+${cat.alias}}" 
                   th:text="${cat.name}" href="#">Categoria ABC</a> 
            </li>                      
        </ul>


        <ol class="breadcrumb" th:if="${prd_parentCategory!=null}">
            <li><a th:text="${prd_parentCategory.name}" th:href="@{'/store/category/'+${prd_parentCategory.id}+'/'+${prd_parentCategory.alias}}" href="#">Home</a></li>
            <li class="active" th:text="${title}">Data</li>
        </ol>

    </body>

</html>
