<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">

<body th:fragment="content">

	<!-- Cart-->
	<div class="cart-info">
		<table class="table table-striped table-bordered">
			<tr>
				<th>No.</th>
				<th>Imagen</th>
				<th>Nombre</th>
				<th>Cant.</th>
				<th>Precio Unit.</th>
				<th>Descuento Unit.</th>
				<th>Total</th>
			</tr>
			<tr th:each="item,row : ${cart.items}">
				<td class="name"><span th:text="${row.index+1}"></span></td>
				<td style="width: 50px"><img
					th:src="@{${item.imageURL}+'thumbnails/'+${item.imageName}(w=90,h=90)}"
					alt="product"></img></td>
				<td class="name"><strong class="orange" th:text="${item.name}">MacBook</strong><br />
					<span th:text="${item.description}"></span></td>
				<td class="quantity" style="text-align: center"><span
					th:text="${item.quantity}"></span></td>

				<td class="price" style="text-align: right"
					th:text="${cmsUtil.formatNumber(item.unitPrice,prd_config.pricePattern+' '+prd_config.defaultCurrency)}">$120.68</td>
				<td class="price" style="text-align: right"
					th:text="${cmsUtil.formatNumber(item.subtotal,prd_config.pricePattern+' '+prd_config.defaultCurrency)}">$120.68</td>
				<td class="price" style="text-align: right"
					th:text="${cmsUtil.formatNumber(item.taxes,prd_config.pricePattern+' '+prd_config.defaultCurrency)}">$120.68</td>
				<td class="total" style="text-align: right"
					th:text="${cmsUtil.formatNumber(item.totalPrice,prd_config.pricePattern+' '+prd_config.defaultCurrency)}">$589.50</td>

			</tr>
			<tr>
				<td style="text-align: right" colspan="3"><b>Totales</b></td>
				<td style="text-align: center" th:text="${cart.quantity}"></td>
				<td style="text-align: right"
					th:text="${cmsUtil.formatNumber(cart.totalUnit,prd_config.pricePattern+' '+prd_config.defaultCurrency)}">$589.50</td>
				<td style="text-align: right"
					th:text="${cmsUtil.formatNumber(cart.subtotal,prd_config.pricePattern+' '+prd_config.defaultCurrency)}">$589.50</td>
				<td style="text-align: right"
					th:text="${cmsUtil.formatNumber(cart.totalTaxes,prd_config.pricePattern+' '+prd_config.defaultCurrency)}">$589.50</td>
				<td style="text-align: right"
					th:text="${cmsUtil.formatNumber(cart.totalPrice,prd_config.pricePattern+' '+prd_config.defaultCurrency)}">$589.50</td>

			</tr>

		</table>

	</div>
</body>
</html>