<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">

<body th:fragment="content(cart,icon)">


	<ul th:if="${not cart.isEmpty()}">
		<li class="dropdown hover carticon "><a class="dropdown-toggle">
				<i th:class="${icon}+' font18'"></i> <span class="carttitle">
					PEDIDO </span> <span class="label label-orange font16"><span
					th:text="${ cart.quantity}"></span> item(s)</span> - <span
				th:text="${cmsUtil.formatNumber(cart.totalPrice,prd_config.pricePattern+' '+prd_config.defaultCurrency)}">$200.000</span>
				<b class="caret"></b>
		</a>
			<ul class="dropdown-menu topcartopen "
				style="width: 420px; max-height: 420px; overflow-y: auto; overflow-x: hidden">
				<li>
					<table class="table">
						<thead>
							<tr>
								<td colspan="5"><strong class="orange"
									th:text="${cart.title}"></strong></td>
							</tr>
						</thead>
						<tbody style="font-size: 11px">
							<tr th:each="item : ${cart.items}">
								<td style="width: 50px"><a th:href="@{${item.URL}}"><img
										th:src="@{${item.imageURL}+'thumbnails/'+${item.imageName}(w=50,h=50)}"
										alt="product" title="product"></img></a></td>
								<td class="name"><a th:href="@{${item.URL}}"
									th:text="${cmsUtil.cropText(item.name,60)}">MacBook</a></td>
								<td class="quantity">x&nbsp;<span
									th:text="${item.quantity}">1</span></td>
								<td class="total" align="right"
									th:text="${cmsUtil.formatNumber(item.totalPrice,prd_config.pricePattern+' '+prd_config.defaultCurrency)}">$589.50</td>
								<td class="remove"><a class="tooltip-test" title="Borrar"
									th:if="${item.editable}"
									th:href="@{'/shoppingcart/'+${cart.name}+'/remove/'+${item.code}(currentURI=${currentURI})}"><i
										class="fa fa-trash"></i></a></td>
							</tr>
						</tbody>
					</table>
					<table class="table">
						<tbody style="font-size: 12px">
							<tr th:if="false">
								<td class="textright"><b>Sub-Total:</b></td>
								<td class="textright"
									th:text="${cmsUtil.formatNumber(cart.subtotal,prd_config.pricePattern+' '+prd_config.defaultCurrency)}">$500.00</td>
								<td></td>
							</tr>
							<tr th:if="false">
								<td class="textright"><b>Impuestos:</b></td>
								<td class="textright"
									th:text="${cmsUtil.formatNumber(cart.totalTaxes,prd_config.pricePattern+' '+prd_config.defaultCurrency)}">$2.00</td>
								<td></td>
							</tr>
							<tr th:if="false">
								<td class="textright"><b>Costos de Envio:</b></td>
								<td class="textright"
									th:text="${cmsUtil.formatNumber(cart.totalShipmentPrice,prd_config.pricePattern+' '+prd_config.defaultCurrency)}">$87.50</td>
								<td></td>
							</tr>
							<tr>
								<td class="textright"><b>Total:</b></td>
								<td class="textright"
									th:text="${cmsUtil.formatNumber(cart.totalPrice,prd_config.pricePattern+' '+prd_config.defaultCurrency)}">$589.50</td>
								<td></td>
							</tr>
						</tbody>
					</table>
					<div class="well pull-right buttonwrap">
						<a th:href="@{/shoppingcart/shop/checkout}"
							th:if="${paymentEnabled and cart.name == 'shop'}"
							class="btn btn-danger tooltip-test">Enviar Pedido</a> <a
							class="btn btn-orange" th:href="@{'/shoppingcart/'+${cart.name}}">
							<i class="icon-plus-sign-alt"></i> Ver Detalles
						</a> <a title="Borrar todos los items"
							class="btn btn-orange tooltip-test"
							th:href="@{'/shoppingcart/'+${cart.name}+'/clear'(currentURI='/')}">
							<i class="fa fa-remove"></i>
						</a> <a target="_blank" title="Imprimir carrito"
							class="btn btn-orange tooltip-test"
							th:href="@{'/shoppingcart/'+${cart.name}+'/print'}"> <i
							class="fa fa-print"></i></a>

					</div>
				</li>
			</ul></li>
	</ul>


</body>
</html>