<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- Products Filter Form-->

<body th:fragment="content">



	<!-- Select Multiple -->
	<div class="form-group myaccountbox" style="padding: 0"
		th:if="${prd_categoryBrands!=null and not #lists.isEmpty(prd_categoryBrands)}">
		<label class="control-label orange" for="brand">Marca / Fabricante</label>

		<ul>
			<li th:each="brd : ${prd_categoryBrands}">
			
				<a class="orange" th:text="${brd.name}" style="padding: 2px" th:href="@{'/store/categories/'+${prd_category.id}+'/'+${prd_category.alias}+'/'+${brd.alias}}"  href="#">Brand ABC</a>
			</li>
		</ul>
	</div>




	<div class="form-group myaccountbox" style="padding: 0" th:each="det : ${prd_category_details}"
		th:if="${not #lists.isEmpty(det.currentValues)}">
		<label class="control-label orange" th:text="${det.name}">NAME</label>

		<ul style="max-height: 80px; overflow: auto">
			<li th:each="val : ${det.currentValues}">
				<a class="orange" th:text="${val}" style="padding: 2px" th:href="@{${CURRENT_URL}('q'=${det.name}+'='+${val})}" href="#">Brand ABC</a>
			</li>
		</ul>
	</div>



</body>

</html>
