<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


    <body th:fragment="frag (prd)">

        <div class="thumbnail tooltip-test" data-placement="top" data-toogle="tooltip" th:title="${prd.name.toUpperCase()}">
            <div class="relativediv">
                <!-- Product Image -->
                <div style="height:170px;line-height: 170px">
                    <a  th:href="@{'/store/products/'+${prd.id}}" href="#" style="vertical-align: middle;line-height: 1.5">                
                        <img th:src="@{'/resources/products/images/thumbnails/'+${prd.image}(w=180,h=180)}" src="img/product1a.jpg" alt="" />
                    </a>  
                </div>
                <span th:if="${prd.sale}" class="sale tooltip-test" data-original-title="" title=""> <i class="icon-gift font24"></i>Oferta</span>
                <span th:if="${prd.featured}" class="sale tooltip-test" data-original-title="" title=""> <i class="icon-star-empty font24"></i>Destacado</span>

                <div class="viewicons">
                    <button  data-original-title="Proximamente" class="btn btn-inverse tooltip-test"> <i class="icon-shopping-cart icon-white"></i> </button>
                    <button  data-original-title="Proximamente" class="btn btn-inverse btn-small tooltip-test"> <i class="icon-heart icon-white"></i> </button>
                    <button  data-original-title="Proximamente" class="btn btn-inverse btn-small tooltip-test"> <i class="icon-refresh icon-white"></i> </button>
                </div>
            </div>
            <div class="caption">
                <div style="height: 62px;overflow: hidden;text-align: left" class="tooltip-test">
                    <span  th:text="${prd.brand!=null?prd.brand.name:''}">Brand</span>
                    <h3><a  th:href="@{'/store/products/'+${prd.id}}" th:text="${prd.name}" href="#">Product Name</a></h3>
                </div>
                <div class="productratecart centered">
                    <div>
                        <h3><strong><span th:text="${cmsUtil.formatNumber(prd.price,prd_config.pricePattern+' '+prd_config.defaultCurrency)}"  class=" orange">$4459.00</span></strong></h3>

                        <div class="ratingstar"> <i class="icon-star orange"> </i><i class="icon-star orange"> </i><i class="icon-star orange"> </i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></div>
                    </div>

                </div>
            </div>
        </div>


    </body>

</html>
