<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


    <!--Categories-->    
    <body th:fragment="frag (productlist,columns)">         

        <div th:class="${'column'+columns+' carousel'}">
            <ul class="slides">
                <li th:each="prd : ${productlist}">
                    <th:block th:include="products/components/productpanel::frag(${prd})"/>
                </li>
            </ul>
        </div>
    </body>

</html>
