<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="template">


<div class="maincontainer page" layout:fragment="content">

	<div class="container">

		<!-- Main Title-->
		<h1 class="doc-title">Contact Address <i class="fa fa-map-marker"></i> </h1>


		<div class="row mt40">
			<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 card card-block">
				<form id="userForm" class="form-horizontal" action="#" th:action="@{/users/addresses}" th:object="${userContactInfo}" method="post">

					<div class="md-form">


						<input type="text" class="form-control" th:field="*{name}"  />

						<label>Name <span class="red">*</span></label>
					</div>


					<div class="md-form">


						<select th:field="*{info.country}" class="form-control">
							<option th:each="op : ${uciCountries}" th:value="${op.value}" th:text="${op.name}">COUNTRY</option>
						</select>
						<label class="fix-label">Country <span class="red">*</span></label>

					</div>

					<div class="md-form">


						<select th:field="*{info.region}" class="form-control">
							<option th:each="op : ${uciRegions}" th:value="${op.value}" th:text="${op.name}">COUNTRY</option>
						</select>
						<label class="fix-label">Region <span class="red">*</span></label>
					</div>

					<div class="md-form">


						<select th:field="*{info.city}" class="form-control">
							<option th:each="op : ${uciCities}" th:value="${op.value}" th:text="${op.name}">COUNTRY</option>
						</select>
						<label class="fix-label">City <span class="red">*</span></label>

					</div>

					<div class="md-form">

						<input type="text" class="form-control" th:field="*{info.address}" />
						<label>Address <span class="red">*</span></label>

					</div>

					<div class="md-form">

						<input type="tel" class="form-control" th:field="*{info.phoneNumber}" />
						<label>Phone Number <span class="red">*</span></label>
					</div>

					<div class="md-form">

						<input type="tel" class="form-control" th:field="*{info.mobileNumber}" />
						<label>Mobile Number</label>
					</div>

					<input type="hidden" name="currentURI" id="currentURI" th:value="${currentURI}" /> <input type="hidden" name="redirect"
					 id="redirect" th:value="${redirect}" /> <br />
					<input type="hidden" th:field="*{id}" />
					<button type="submit" class="btn btn-success">Save</button>

				</form>
			</div>

		</div>
	</div>
</div>


</html>