<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">


<div layout:fragment="content" class="container">

	<div class="jumbotron">
		<h1>Site Offline</h1>
		<p>
			Site <strong><span 
				th:text="${site.name}">XXX</span></strong> is offline <br />
			
		</p>
		<p th:text="${offlineMessage}"></p>
		
	</div>


</div>

</html>
