<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <!-- Main Menu -->

    <body th:fragment="content">


        <div class="errormsg alert" th:if="${errormessage!=null}">
            <i class="icon-frown font36"></i>
            <i class="icon-remove"></i>
            <strong>Error!</strong> <span th:text="${errormessage}">message</span>
        </div>


        <div class="successmsg alert" th:if="${successmessage!=null}">
            <i class="icon-ok font36"></i>
            <i class="icon-remove"></i>
            <strong>Ok!</strong> <span th:text="${successmessage}">message</span>
        </div>
        
          <div class="alertmsg alert" th:if="${warningmessage!=null}">
            <i class="icon-warning-sign font36"></i>
            <i class="icon-remove"></i>
            <strong>Advertencia!</strong> <span th:text="${warningmessage}">message</span>
        </div>



    </body>

</html>
