<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="template">

<body th:fragment="content">


	<th:block th:if="${@userHolder.config.registrationEnabled}">
		<li class="nav-item" th:unless="${@userHolder.authenticated}"><a href="/users/login" th:class="${'nav-link '+siteParams['loginBackground']}">Login</a></li>


		<li th:if="${@userHolder.authenticated}" class="nav-item dropdown btn-group">
			<a href="#" th:class="${'nav-link dropdown-toggle btn-group '+siteParams['loginBackground']}" id="dropdownMenuUser" data-toggle="dropdown" aria-haspopup="true"
			 aria-expanded="false"> 
					Account <span class="caret"></span>
				</a>
			<div class="dropdown-menu dropdown" aria-labelledby="dropdownMenuUser">

				<a class="dropdown-item" th:href="@{/users/account}"> <span>Settings</span>	</a>
				<a class="dropdown-item" th:each="ua : ${userMenuActions}" th:href="@{'/'+${ua.action()}}"> <span th:text="${ua.label}"></span></a>

			</div>
		</li>


	</th:block>
</body>

</html>