<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es">
<head>
<title th:text="|${site.name} - ${title}|">Simplepx - Responisve Multipurpose Bootstrap Template</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" th:content="${metaDescription}"
	content="Responisve, Bootstrap, Html5, Css3, Multipuropose, Blog, Portfolio, Ecommerce - All in One Template" />
<meta name="author" th:content="${metaAuthor}" content="" />
<meta name="keywords" th:content="${metaKeywords}" content="" />
<meta name="copyright" th:content="${metaRights}" content="" />
<meta name="robots" content="index, follow" />
<meta th:content="|${site.name} - ${title}|" property="og:title" content="" />
<meta th:content="${metaDescription}" property="og:description" content="" />
<th:block th:each="pi : ${pageImages}">
	<meta th:content="${pi}" property="og:image" content="" />
</th:block>

<link th:href="@{/img/favicon.ico}" href="img/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />


<!-- CSS -->
<link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet" />
<!-- Google Webfont -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css' />
<!-- Main Css -->
<link th:href="@{'/css/'+${#objects.nullSafe(siteParams['color'],'color2')}+'.css'}" href="css/color2.css" rel="stylesheet" id="color" />

<!-- Font Icon -->
<link th:href="@{/css/font-awesome.min.css}" href="css/font-awesome.min.css" rel="stylesheet" />
<!-- Pop Up -->
<link th:href="@{/css/prettyPhoto.css}" href="css/prettyPhoto.css" rel="stylesheet" />
<!-- Animation -->
<link th:href="@{/css/animate.css}" href="css/animate.css" rel="stylesheet" />

<!-- Template -->
<link th:href="@{/css/template.css}" href="css/template.css" rel="stylesheet" />


<!-- REVOLUTION BANNER CSS SETTINGS -->
<link th:href="@{/plugins/rs-plugin/css/responsive.css}" rel="stylesheet" type="text/css" href="plugins/rs-plugin/css/responsive.css" />
<link th:href="@{/plugins/rs-plugin/css/settings.css}" rel="stylesheet" type="text/css" href="plugins/rs-plugin/css/settings.css" />
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
              <script src="js/html5shiv.js"></script>
              <script src="js/respond.min.js"></script> 
             <![endif]-->
</head>
<body>
	<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id))
				return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<!-- Header Start -->
	<header>


		<div class="navbar-fixed-top" style="height: 50px; background-color: white;">
			<div class="container">
				<!--Top Search -->
				<div class="pull-left topsearch" style="margin-top: 10px"  th:include="tpl_searchform::content" />


			</div>
		</div>
		
	</header>
	<!-- Header End -->
	<div id="maincontainer">
		<div class="container">
			<th:block th:include="tpl_globalmessages::content" />
		</div>

		<div id="content" layout:fragment="content"></div>

		<!-- Got to top -->
		<a id="gotop"><i class="icon-circle-arrow-up"></i></a>
	</div>


	<!-- Placed at the end of the document so the pages load faster -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script th:src="@{/js/jquery.js}" src="js/jquery.js"></script>
	<script th:src="@{/js/jquery-migrate-1.2.1.js}" src="js/jquery-migrate-1.2.1.js"></script>
	<script th:src="@{/js/jquery.easing.js}" src="js/jquery.easing.js"></script>

	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
	<!-- jQuery Animation -->
	<script th:src="@{/js/inview.js}" src="js/inview.js"></script>
	<!-- include jQuery + carouFredSel plugin -->
	<script th:src="@{/js/jquery.carouFredSel-6.2.1-packed.js}" type="text/javascript" src="js/jquery.carouFredSel-6.2.1-packed.js"></script>
	<!-- optionally include helper plugins  for carouFredSel-->
	<script th:src="@{/js/jquery.mousewheel.min.js}" type="text/javascript" src="js/jquery.mousewheel.min.js"></script>
	<script th:src="@{/js/jquery.touchSwipe.min.js}" type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
	<script th:src="@{/js/jquery.transit.min.js}" type="text/javascript" src="js/jquery.transit.min.js"></script>
	<!-- Jquery Validation-->
	<script th:src="@{/js/jquery.validate.js}" type="text/javascript" src="js/jquery.validate.js"></script>
	<!-- Jquery Flexslider-->
	<script th:src="@{/js/jquery.flexslider.js}" defer="" src="js/jquery.flexslider.js"></script>
	<!-- Jquery Fancybox Popup-->
	<script th:src="@{/js/jquery.prettyPhoto.js}" src="js/jquery.prettyPhoto.js"></script>
	<!-- Jquery Latest Tweet-->
	<script th:src="@{/js/jquery.tweet.js}" type="text/javascript" src="js/jquery.tweet.js"></script>
	<!-- Jquery zoom on product page-->
	<script th:src="@{/js/zoomsl-3.0.min.js}" src="js/zoomsl-3.0.min.js"></script>

	<!-- Jquery Countdown-->
	<script th:src="@{/js/jquery.countdown.js}" type="text/javascript" src="js/jquery.countdown.js"></script>
	<!-- Social -->
	<script th:src="@{/js/socialstream.jquery.js}" type="text/javascript" src="js/socialstream.jquery.js"></script>
	<!-- Jquery Map  
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script> 
      
        <script th:src="@{/js/jquery.gmap.js}" type="text/javascript" src="js/jquery.gmap.js"></script> 
        -->
	<!-- Jquery CountDown -->
	<!-- Revolution Slider -->
	<script th:src="@{/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js}" type="text/javascript"
		src="plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<!-- Ratina View -->
	<script th:src="@{/js/retina-1.1.0.min.js}" type="text/javascript" src="js/retina-1.1.0.min.js"></script>

	<!-- Custom -->
	<script th:src="@{/js/custom.js}" src="js/custom.js"></script>


	<th:block th:include="tpl_googleAnalytics::content" />

</body>
</html>
