<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">


    <div class="page" layout:fragment="content">

        <div class="container">

            <div data-th-include="site/pagetitle::content"/>

           
            <div th:utext="${page.content}">
                Page Content                    
            </div>


        </div>

    </div>

</html>
