<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">


    <div class="container" layout:fragment="content">



        <div class="row mt10">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt40column">
                <div class="titles animated fadeInUp time3">
                    <div class="pull-right" style="text-align: right">
                        <a th:href="@{'/store/brands/'+${prd_brand.alias}}" title="Ver otros productos de esta marca" class="tooltip-test">
                            <img class="animated flip time3" th:src="@{'/resources/products/brands/thumbnails/'+${prd_brand.image}(w=120,h=120)}" src="img/product1a.jpg" alt="" />
                        </a>
                    </div>

                    <div>
                        <h1 th:text="${title}" class="headinglefttitle">Page title</h1>

                        <!-- Subcategories -->
                        <div th:include="products/components/brandsubcategoriesmenu"/> 
                    </div>                  
                </div> 

                <!--Top Pagination -->
                <div class="clearfix" th:include="products/components/productpagination" />



                <!-- PRODUCTS -->

               	<div class="row mt40">

				<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 mt30column"
					style="border-right: 1px dotted silver;">
					<!--filters-->
					<div th:include="products/components/categoryfiltersform::content" class="hidden-xs hidden-sm" />
					<!-- ADS -->
					<th:block th:include="module::position('ads_left')" />
					<!-- ADS END -->
				</div>

				<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 mt40column">

					<!-- PRODUCTS -->

					<div class="featureprojectcontianer mt40" id="productlist">
						<div class="featureprojectwrap latestprojectcontianer grid">

							<!-- Grid -->
							<div th:include="products/components/productgrid::frag(${prd_products})" />

							<!-- Paging-->
							<div class="mt40 clearfix">
								<div th:include="products/components/productpagination::content" />
							</div>

						</div>
					</div>
				</div>
			</div>
            </div>

          
        </div>
    </div>

</html>
