<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">

    <div class="maincontainer" layout:fragment="content">


        <div class="container" >
            <!-- Main Title-->
            <div class="titles animated fadeInUp time3">
                <div class="pull-left">
                    <h1 th:text="${prd_product.name}" class="headinglefttitle">Page title</h1>
                    <div th:text="${subtitle}" class="headingsubtitle"></div>
                </div>
                <div class="pull-right mt20">
                    <a th:href="@{'/store/brands/'+${prd_product.brand.alias}}">
                        <img class="animated flip time3"  th:if="${prd_product.brand}" th:src="@{'/resources/products/brands/thumbnails/'+${prd_product.brand.image}(w=100,h=100)}" th:title="${prd_product.brand.name}" th:alt="${prd_product.brand.name}"  />
                    </a>
                </div>                
            </div>

            <!-- Product-->
            <div class="row mt40"> 
                <!-- Left Image-->
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <ul class="thumbnails mainimage clearfix">
                        <li> <img th:src="@{'/resources/products/images/'+${prd_product.image}}" th:title="${prd_product.name}" class="my-foto-container" src="img/product1big.jpg" th:data-large="@{'/resources/products/images/'+${prd_product.image}}" th:data-title="${prd_product.name}" title="Your Product Name" /> </li>
                    </ul>

                    <ul class="thumbnails mainimage clearfix">
                        <li th:if="${prd_product.image!=null}" class="producthtumb col-lg-3 col-md-3 col-xs-3 col-sm-3"> <img th:src="@{'/resources/products/images/'+${prd_product.image}}" th:title="${prd_product.name}" class="zoom" src="img/product1big.jpg" th:data-large="@{'/resources/products/images/'+${prd_product.image}}" th:data-title="${prd_product.name}" title="Your Product Name" /> </li>
                        <li th:if="${prd_product.image2!=null}" class="producthtumb col-lg-3 col-md-3 col-xs-3 col-sm-3"> <img th:src="@{'/resources/products/images/'+${prd_product.image2}}" th:title="${prd_product.name}" class="zoom" src="img/product1big.jpg" th:data-large="@{'/resources/products/images/'+${prd_product.image2}}" th:data-title="${prd_product.name}" title="Your Product Name" /> </li>
                        <li th:if="${prd_product.image3!=null}" class="producthtumb col-lg-3 col-md-3 col-xs-3 col-sm-3"> <img th:src="@{'/resources/products/images/'+${prd_product.image3}}" th:title="${prd_product.name}" class="zoom" src="img/product1big.jpg" th:data-large="@{'/resources/products/images/'+${prd_product.image3}}" th:data-title="${prd_product.name}" title="Your Product Name" /> </li>
                        <li th:if="${prd_product.image4!=null}" class="producthtumb col-lg-3 col-md-3 col-xs-3 col-sm-3"> <img th:src="@{'/resources/products/images/'+${prd_product.image4}}" th:title="${prd_product.name}" class="zoom" src="img/product1big.jpg" th:data-large="@{'/resources/products/images/'+${prd_product.image4}}" th:data-title="${prd_product.name}" title="Your Product Name" /> </li>
                    </ul>
                </div>

                <!-- Right Details-->
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12 mt40column">

                    <div class="productprice">

                        <div class="productpageprice"> <i class="icon-tags"></i><span th:text="${cmsUtil.formatNumber(prd_product.price,prd_config.pricePattern+' '+prd_config.defaultCurrency)}">$230.00</span> </div>
                        <div th:if="${prd_product.price lt prd_product.lastPrice}" class="productpageoldprice">Antes <span th:text="${cmsUtil.formatNumber(prd_product.lastPrice,prd_config.pricePattern+' '+prd_config.defaultCurrency)}">$230.00</span> </div>

                    </div>

                    <div class="">
                        <span th:text="${prd_product.description}">description</span>
                        <br/>
                        <h4 class="orange" th:if="${prd_product.stock gt 0}"><i class="icon-check-sign"></i> En Inventario</h4>
                        <h4 class="red" th:if="${prd_product.stock eq 0}"><i class="icon-ban-circle"></i> Agotado</h4>
                    </div>

                    <div th:if="${prd_story!=null}">
                        <span>Has visto este producto <strong  class="orange" th:text="${prd_story.views}">TANTA</strong> veces! </span>
                    </div>


                    <!-- Product Details tab & comments-->
                    <div class="productdesc">
                        <ul class="nav nav-tabs" id="myTab">                        
                            <li class="active"><a href="#specification">Caracteristicas</a> </li>
                            <li><a href="#stocks">Donde Comprar?</a> </li>
                            <li><a href="#producttag">Etiquetas</a> </li>
                        </ul>
                        <div class="tab-content">
                            <!-- DESCRIPTION -->

                            <div class="tab-pane active" id="specification">


                                <ul class="productinfo">
                                    <li> 
                                        <span th:text="${'Visto '}" class="productinfoleft">NAME</span><span th:text="${prd_product.views+' veces'}">VALUE</span> 
                                    </li>

                                    <li> 
                                        <span th:text="${'Codigo: '}" class="productinfoleft">NAME</span><span th:text="${prd_product.sku}">VALUE</span> 
                                    </li>
                                    <li th:if="${prd_product.brand}"> 
                                        <span th:text="${'Marca o Fabricante: '}" class="productinfoleft">NAME</span>
                                        <span>
                                            <span th:text="${prd_product.brand.name}">VALUE</span> 
                                            <a class="orange ml10" title="Ir a sitio web del fabricante" th:href="@{${cmsUtil.absoluteURL(prd_product.brand.website)}}" target="_blank">(Sitio Web Oficial)</a>
                                        </span>
                                    </li>


                                    <li th:each="det : ${prd_product.details}"> 
                                        <span th:text="${det.name}" class="productinfoleft">NAME</span>
                                        <span>
                                            <span th:text="${det.value}">VALUE</span> 
                                            <span th:text="${det.description}">DESCRIPTION</span> 
                                        </span>
                                    </li>

                                </ul>
                            </div>


                            <div class="tab-pane" id="stocks">
                                <h3 class="orange">Nuestras Tiendas</h3>
                                <div class="mb10">Clic en el nombre de la sucursal para ver datos de contacto</div>
                                <ul class="productinfo">
                                    <li th:each="det : ${prd_product.stockDetails}"> 
                                        <span  class="productinfoleft"> <a data-toggle="modal"  class="tooltiptest" th:href="${'#store'+det.store.id}"  th:text="${cmsUtil.capitalize(det.store.name)}">NAME</a></span>
                                        <span th:if="${det.stock le prd_config.productsStockToShow}" th:text="${det.stock+' en inventario'}">VALUE</span> 
                                        <span th:if="${det.stock gt prd_config.productsStockToShow}">Suficientes</span> 
                                        <th:block th:include="products/components/storedialog::content(${det.store})"/>
                                    </li>
                                </ul>
                            </div>

                            <div class="tab-pane" id="producttag">

                                <ul class="tags" th:if="${prd_product.tags!=null}">
                                    <li  th:each="tag : ${#strings.setSplit(prd_product.tags,',')}">
                                        <a><i class="icon-tag"></i><span th:text="${tag}">Tag HERE</span></a> 
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Buttons -->
                    <div class="productbtn">
                        <a class="btn btn-orange tooltip-test" data-original-title="Proximamente"> <i class="icon-shopping-cart icon-white"></i> Comprar</a>
                        <a class="btn btn-orange btn-small tooltip-test" data-original-title="Proximamente"> <i class="icon-external-link icon-white"></i> Cotizar</a>                        
                        <a th:href="@{'/store/products/'+${prd_product.id}+'/favorite'}"  class="btn btn-orange btn-small tooltip-test" data-original-title="Marca el producto como favorito"> <i class="icon-heart icon-white"></i> Favorito</a>
                        <a class="btn btn-orange btn-small tooltip-test" data-original-title="Proximamente"> <i class="icon-refresh icon-white"></i> Comparar </a>
                    </div>
                    <div>
                        <th:block th:include="social/components/sharebuttons::content"/>
                    </div>
                </div>
            </div>
        </div>
        <!-- Related Project-->
        <div th:if="${prd_relatedProducts!=null and  not #lists.isEmpty(prd_relatedProducts)}" class="featureprojectcontianer container mt40">
            <h2 class="heading1"><span class="maintext">Productos Relacionados</span></h2>
            <th:block th:include="products/components/productcarousel::frag(${prd_relatedProducts},5)"/>

        </div>
    </div>
</html>