<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>DynamiaCMS Site</display-name>
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

	<!-- Spring -->
	<filter>
		<filter-name>OpenEntityManagerInViewFilter</filter-name>
		<filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
		<init-param>
			<param-name>entityManagerFactoryBeanName</param-name>
			<param-value>entityManagerFactory</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>OpenEntityManagerInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<error-page>
		<!-- Define error page to react on Java exception -->
		<exception-type>java.lang.Throwable</exception-type>
		<!-- The location of the resource to display in response to the error will 
			point to the Spring MVC handler method -->
		<location>/exception</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/exception</location>
	</error-page>
</web-app>