<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- Products Filter Form-->

<body th:fragment="module(instance)">


	<div class="card store" th:if="${prd_categoryBrands!=null and not #lists.isEmpty(prd_categoryBrands)}">

		<div th:class="${'card-header '+#objects.nullSafe(instance.styleClass,'primary-color-dark white-text')}" th:text="${instance.title}">
			Brands
		</div>

		<div class="card-block">

			<ul class="categories ">
				<li th:each="brd : ${prd_categoryBrands}">
					<a th:href="@{'/store/categories/'+${prd_category.id}+'/'+${prd_category.alias}+'/'+${brd.alias}}">
						<i class="fa fa-square-o"></i>
						<span th:text="${brd.name}"></span>
					</a>
				</li>
			</ul>
		</div>
	</div>

</body>

</html>