<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<!--Categories-->

<body th:fragment="module(instance)">


	<div class="card store">

		<div th:class="${'card-header '+#objects.nullSafe(instance.styleClass,'primary-color-dark white-text')}" th:text="${instance.title}">
			Brands
		</div>

		<div class="card-block">

			<ul class="categories ">
				<li th:each="brd : ${instance.model.brands}">
					<a th:href="@{'/store/brands/'+${brd.alias}}" th:class="${(prd_brand!=null and brd.id==prd_brand.id?'active':'')}">
						<i class="fa fa-square-o" th:unless="${prd_brand!=null and brd.id==prd_brand.id}"></i>
						<i class="fa fa-check-square-o" th:if="${prd_brand!=null and brd.id==prd_brand.id}"></i>
						<span th:text="${brd.name}">Submenu</span>
					</a>					
				</li>

			</ul>
		</div>
	</div>

</body>

</html>