<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">

    <div class="maincontainer" layout:fragment="content">


        <div class="container" >
            <!-- Main Title-->
            <div class="titles animated fadeInUp time3">
                <div class="pull-left">
                    <h1 class="headinglefttitle">Carrito</h1>                    
                    <div th:text="${subtitle}" class="headingsubtitle"></div>                    
                </div>
                <i class="icon-shopping-cart"></i>           
            </div>

            <div class="row mt40">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt40column">   
                    <th th:include="shoppingcart/components/table::content"/>
                    <div class="pull-right">
                        <a target="_blank" class="btn btn-orange tooltip-test" th:href="@{'/shoppingcart/print'}" > <i class="icon-print"></i> Imprimir</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>