<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<!-- Main Menu -->

<body th:fragment="module(instance)">

	<div id="ddtopmenubar" class="mattblackmenu">
		<!-- Main navigation -->
		<!-- Use the background color class in anchor tag for colorful menu -->
		<ul>

			<li th:each="mi : ${instance.model.menuitems}"><a href="#"
				rel="ddsubmenu2" class="blightblue" th:href="@{${mi.href}}" th:class="${mi.styleClass}"
				th:title="${mi.title}" th:target="${mi.target}"> <i
					th:class="${(instance.getParameter('icons')!='false'?'fa fa-'+mi.icon:'')}"></i>
					<th:block th:text="${mi.name}" />
			</a>
				<ul id="ddsubmenu2" class="ddsubmenustyle"
					th:if="${not #lists.isEmpty(mi.subitems) and instance.getParameter('subitems')!='false'}">
					<li th:each="smi : ${mi.subitems}"><a th:href="@{${smi.href}}"
						th:target="${smi.target}" th:title="${smi.title}"> <th:block
								th:text="${smi.name}" />
					</a></li>
				</ul></li>

		</ul>
	</div>

</body>

</html>
