<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <!-- Main Menu -->

    <body th:fragment="content">
        <section class="mt40 m0 newsletter" id="newslettersignup">
            <div class="container">
                <div class="pull-left">
                    <h2 class="heading2"><span class="maintext"><i class="icon-pencil"></i>Noticias Compulago</span></h2>
                    Subscribase a nuestro boletin de noticias y reciba promociones y ofertas especiales </div>
                <div class="pull-right mt20">
                    <form class="form-inline">
                        <div class="input-prepend">
                            <input type="text" class="subscribeinput" id="inputIcon" placeholder="ingrese correo electronico"/>
                            <input type="submit" class="btn btn-orange" value="Registrarse"/>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </body>

</html>
