<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


    <body th:fragment="content">
        <th:block th:if="${paginationDatasource!=null and paginationDatasource.pageCount > 1}">
            <ul class="pagination pull-right">
                <li th:class="${paginationDatasource.activePage==i?'active':''}" th:each="i : ${#numbers.sequence(1,__${paginationDatasource.pageCount}__)}">
                    <a  th:text="${i}" th:href="@{${currentURI}(page=${i})}" >#</a>                    
                </li>
            </ul>
        </th:block>
    </body>

</html>
