.actividadPendiente, .z-listitem .actividadPendiente{
    background-color: #FFBB00;
}

.actividadCompletada, .z-listitem .actividadCompletada{
    background: #008cd7;
    color:white
}


.actividadVencida, .z-listitem .actividadVencida{
    background-color: #ad2929;    
    color:white;
    font-weight: bold;
}

.actividadAnulada, .z-listitem .actividadAnulada {
    text-decoration: line-through;    
    color:red;
}

.actividadProgreso, .z-listitem .actividadProgreso{
    background-color: #68b02a;
    color:white;
}

