<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">


    <div class="page" layout:fragment="content">

        <div class="container">
            <th:block th:include="module::position('pageTitle')" th:if="${cmsModules.isUsed('pageTitle')}"/>
            <div th:include="site/pagetitle::content" th:if="${page.showTitle}" />

            <div class="clearfix"></div>
            <th:block th:include="module::position('pageContent')" th:if="${cmsModules.isUsed('pageContent')}"/>
            <div th:utext="${pageContent}">Page Content</div>
            <th:block th:include="module::position('pageFooter')" th:if="${cmsModules.isUsed('pageFooter')}"/>

        </div>

    </div>

</html>
