<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">

<th:block layout:fragment="stylesheets">
    <link th:href="@{'/$mods/blog/css/blog.css'}" href="css/blog.css" rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atom-one-dark.min.css"/>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/languages/groovy.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/languages/java.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/languages/dart.min.js"></script>

</th:block>

<th:block layout:fragment="scripts">
    <script>hljs.initHighlightingOnLoad();</script>
    <script>
        $(document).ready(function () {
            $('pre code').each(function (i, block) {
                hljs.highlightBlock(block);
            });
        });
    </script>
</th:block>


<div class="page" layout:fragment="content">

    <div class="container blog blog-post">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-9">
                <h1 class="blog-post-title" th:text="${blog_post.title}"></h1>
                <h4 class="blog-post-date">Publicado el <span
                        th:text="${#dates.format(blog_post.postDate,'dd MMMM YYYY ')}"></span> por <a
                        th:href="@{'/'+${blog_post.author.toURI()}}" th:text="${blog_post.author}"></a>
                </h4>
                <hr/>

                <img class="blog-post-img" th:src="${blog_post.imageURL}" alt="${post.title}"
                     th:unless="${#strings.isEmpty(blog_post.imageURL)}"/>


                <div class="blog-post-content" th:utext="${blog_post.content}">

                </div>

                <span>Esta entrada fue publicada en la categoria <a th:href="@{'/'+${blog_post.category.toURI()}}"
                                                                    th:text="${blog_post.category}"></a> de <a
                        th:href="@{'/'+${blog.toURI()}}"
                        th:text="${blog.title}"></a> </span>
                <div class="blog-post-footer">


                    <th:block th:include="blog/components/authorpanel::load(${blog_post.author})"/>

                    <th:block th:include="blog/components/taglist::load(${blog_post.getTagsList()})"/>

                </div>
                <!-- Pagination -->
                <div class="blog-post-pagination">
                    <a class="blog-post-prev" th:if="${blog_post_prev!=null}" th:href="${'/'+blog_post_prev.toURI()}">&larr;
                        [[${blog_post_prev.title}]]</a>


                    <a class="blog-post-next" th:if="${blog_post_next!=null}" th:href="${'/'+blog_post_next.toURI()}">[[${blog_post_next.title}]]
                        &rarr;</a>
                </div>

            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-3">

                <th:block th:include="blog/components/searchform::frag(${blog.toURI()})"/>

                <th:block th:include="blog/components/categorylist::load(${blog_categories})"/>
                <th:block th:include="blog/components/authorlist::load(${blog_authors})"/>
                <th:block th:include="blog/components/postlist::load(${'Relacionados'}, ${blog_post_related})"/>
                <th:block th:include="blog/components/archive::load(${blog_archive})"/>

                <th:block th:include="module::position('blog-sidebar')"/>

            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>

</html>
