<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="template">


<div th:class="${'page '+#objects.nullSafe(page.styleClass,'container')}" layout:fragment="content">

    <div class="row">
        <div class="col-md-12">
            <a th:href="@{'/store/brands/'+${prd_brand.alias}}" class="pull-right">

                <img class="animated flip time3" th:src="@{'/resources/products/brands/thumbnails/'+${prd_brand.image}(w=120,h=120)}" src="img/product1a.jpg"
                    th:alt="${prd_brand.name}" />
            </a>


            <h1 th:text="${title}" class="doc-title">Page title</h1>
            <!-- Subcategories -->
            <div class="clearfix" th:include="products/components/subcategoriesmenu::content" />

        </div>

        <div class="col-md-3">
            <th:block th:include="module::position('storeleft')" />

            <!-- ADS -->
            <th:block th:include="module::position('ads_left')" />
            <!-- ADS END -->
        </div>


        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">


            <div th:include="core/components/pagination::content" />
            <div class="clearfix" />


            <!-- PRODUCTS -->

            <div id="productlist">


                <!-- Grid -->
                <div th:include="products/components/productgrid::frag(${prd_products})" />

                <!-- Paging-->
                <div class="mt40 clearfix">
                    <div th:include="core/components/pagination::content" />
                </div>

            </div>

        </div>

    </div>
</div>

</html>