<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es">
	<head>
        <title th:text="|${site.name} - ${title}|">Compulago - Marcamos la diferencia</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta name="description" th:content="${metaDescription}" content="Responsive, Bootstrap, Html5, Css3, Multipuropose, Blog, Portfolio, Ecommerce - All in One Template" />
        <meta name="author" th:content="${metaAuthor}" content="" />
        <meta name="keywords" th:content="${metaKeywords}" content="" />
        <meta name="copyright" th:content="${metaRights}" content="" />
        <meta name="robots" content="index, follow" />
        <meta th:content="|${site.name} - ${title}|" property="og:title" content="" />
        <meta th:content="${metaDescription}" property="og:description" content="" />
        <meta name="google-site-verification" content="hemwukLf8eySpytvVlcOfFAiU4Y4WzD7ibQyUQQLPzY" />
        <meta http-equiv="Expires" content="0">
        <meta http-equiv="Last-Modified" content="0">
        <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
        <meta http-equiv="Pragma" content="no-cache">        
<th:block th:each="pi : ${pageImages}">
        <meta th:content="${pi}" property="og:image" content="" />
</th:block>
        <link th:href="@{/img/favicon.ico}" href="img/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
		<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Khula:400,800,700,600,300">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
		<link rel="stylesheet" th:href="@{/js/bootstrap/3.3.7/css/bootstrap.css}" href="js/bootstrap/3.3.7/css/bootstrap.css">
		<link rel="stylesheet" th:href="@{/js/font-awesome/4.7.0/css/font-awesome.min.css}" href="js/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" th:href="@{/js/animate.css}" href="frm/animate.css">
		<link rel="stylesheet" th:href="@{/css/custom-pay.css}" href="css/custom-checkbox.css">		
	</head>
	<body>
		<div id="fondo"></div>
<!-- Nota -->
		<th:block th:include="tpl_globalmessages::content" ></th:block>
		<div id="nota2">
			<div class="texto pull-right">
				<span class="titulo"></span>
				<span class="contenido"></span>
			</div>
		</div>
<!-- Fin Nota -->

		<header>
			<div class="encabezado-checkout container-fluid">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-3 logo-header">
							<a href="#"><img src="http://www.compulago.net/img/logo-compulago-blanco.png" class="img-responsive"></a>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-9 ayuda">¿Necesitas ayuda en esta compra? Llamanos al (5)693 0423 Ext. 119</div>
					</div>
				</div>
			</div>
		</header>
<!-- **************************** Cuerpo **************************************-->
		<div id="maincontent" class="container-fluid" layout:fragment="content"></div>
<!-- ************************** Fin Cuerpo ************************************-->
		<footer>
			<div id="pie" class="container-fluid">
				<div class="info container">
					<ul>
						<li class="nomcompulago">Compulago S.A.S. NIT 806.015.641-4</li>
						<li>Todos los derechos reservados</li>
						<li>Direccion: Av. Pedro de Heredia, Calle 30B #63-105, Cartagena - Bolivar. Telefono: (5)693 0423. Mail: atencionalcliente@compulago.net</li>
					</ul>
				</div>
			</div>
		</footer>
<!-- ************************** Contenido JS **********************************-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script src="/js/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="/js/custom-pay2.js"></script>
<!-- ************************ Fin Contenido JS ********************************-->				
	</body>
</html>