<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta name="description" th:content="${metaDescription}" />
<meta name="author" th:content="${metaAuthor}" content="" />
<meta name="keywords" th:content="${metaKeywords}" content="" />
<meta name="copyright" th:content="${metaRights}" content="" />
<meta name="robots" content="index, follow" />
<meta th:content="|${site.name} - ${title}|" property="og:title"
	content="" />
<meta th:content="${metaDescription}" property="og:description"
	content="" />
<th:block th:each="pi : ${pageImages}">
	<meta th:content="${pi}" property="og:image" content="" />
</th:block>
<meta th:content="${pageImage}" property="og:image" content="" />

<link
	th:href="@{${#objects.nullSafe(siteParams['favicon'],'/img/favicon/favicon.png')}}"
	href="img/favicon.ico" rel="shortcut icon"
	type="image/vnd.microsoft.icon" />


<title th:text="|${site.name} - ${title}|">Dynamical Template</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.css"
	rel="stylesheet" />
<link th:href="@{/css/custom.min.css}" href="css/custom.min.css"
	rel="stylesheet" />

<!-- Font awesome CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />


<!-- Custom styles for this template -->
<link th:href="@{/css/template.css}" href="css/template.css"
	rel="stylesheet" />

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->

<th:block th:include="module::position('head_tag')" />
</head>

<body>

	<div id="fb-root"></div>

	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<th:block th:include="module::position('top-menu')" />
		</div>
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<th:block th:include="module::position('logo')" />
			</div>
			<div class="collapse navbar-collapse" aria-expanded="false"
				style="height: 1px;">
				<ul class="nav navbar-nav">
					<th:block th:include="module::position('navbar')" />
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<th:block th:include="module::position('navbar-right')" />
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>

	<div class="container">
		<th:block th:include="tpl_globalmessages::content" />
	</div>


	<th:block th:include="module::position('banners')" />



	<th:block th:include="module::position('content-top')" />

	<div class="content" layout:fragment="content"></div>
	<th:block th:include="module::position('content-bottom')" />


	<!-- /.container -->

	<footer>

		<th:block th:include="module::position('footer')" />

		<!-- Scroll to top -->
		<span class="totop"><a href="#"><i class="fa fa-angle-up"></i></a></span>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					Powered by: <a href="http://cms.dynamia.tools" target="blank"
						class="tooltip-test">DynamiaCMS</a>
				</div>
			</div>
		</div>
	</footer>


	<th:block th:include="module::stylesheets" />

	<!-- Bootstrap core JavaScript
        ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script th:src="@{/js/jquery.js}" src="js/jquery.js"></script>
	<script th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>

	<th:block th:include="module::scripts" />

	<th:block th:include="tpl_googleAnalytics::content" />
	<th:block th:include="tpl_webchat::content" />

	<script>
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id))
				return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<th:block th:include="module::position('custom_scripts')" />
</body>
</html>
