    html,
        body {
            height: 100%;
        }

.totop {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 104400;
}

.totop a i {
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 25px;
	background: #454545;
	border-radius: 6px;
}

.bg-android-green {
	background-color: #00CC00;
}

.bg-android-green-dark {
	background-color: #00B100;
}


.bg-android-blue {
	background-color: #003399;
}

.bg-android-red {
	background-color: #CC0000;
}

.bg-android-orange {
	background-color: #ff9900;
}

.bg-android-lighblue {
	background-color: #3366cc;
}

.scrolling-navbar {
	-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
	transition: background .5s ease-in-out, padding .5s ease-in-out;
}

/* Carousel*/
.carousel {
	height: 50%;
}

@media ( max-width : 776px) {
	.bannerfull .carousel {
		height: 100%;
	}
}

.carousel-item, .active {
	height: 100%;
}

.carousel-inner {
	height: 100%;
}
/*Caption*/
.flex-center {
	color: #fff;
}