html, body {
	height: 100%;
	background-color: #f5f5f5;
}

.totop {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 104400;
}

.totop a i {
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 25px;
	background: #454545;
	border-radius: 6px;
}

.bg-android-green {
	background-color: #00CC00;
}

.bg-android-green-dark {
	background-color: #00B100;
}

.bg-android-blue {
	background-color: #003399;
}

.bg-android-red {
	background-color: #CC0000;
}

.bg-android-orange {
	background-color: #ff9900;
}

.bg-android-lighblue {
	background-color: #3366cc;
}

.scrolling-navbar {
	-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
	transition: background .5s ease-in-out, padding .5s ease-in-out;
}

/* Carousel*/
.carousel {
	height: 50%;
}

@media ( max-width : 776px) {
	.bannerfull .carousel {
		height: 100%;
	}
}

.carousel-item, .active {
	height: 100%;
}

.carousel-inner {
	height: 100%;
}
/*Caption*/
.flex-center {
	color: #fff;
}

ul.breadcrumb {
	padding: 10px 16px;
	list-style: none;
	background-color: #eee;
	font-size: 17px;
}

/* Display list items side by side */
ul.breadcrumb li {
	display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
	padding: 8px;
	color: black;
	content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
	color: #0275d8;
	text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
	color: #01447e;
	text-decoration: underline;
}

.center-block {
	display: block;
	margin: 0 auto;
}

.btn-rounded {
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	-ms-border-radius: 10em;
	-o-border-radius: 10em;
	border-radius: 10em;
}

.page {
	margin-top: 20px;
	margin-bottom: 20px;
}

.noshadow{
	box-shadow: 0 0 0 0 !important;
}

/** STORE STYLES **/
.card.store {
	margin-bottom: 10px;
	margin-top: 3px;
}

.store .categories a {
	color: #727272;
}

.store .categories a.active {
	font-weight: bolder;
}

.store .subcategories a {
	color: #727272;
	margin-left: 15px;
}

.store .categories li {
	margin-top: 10px;
}

.store.product{
	
	margin: 10px;
}

@media (min-width: 768px){

	.main-nav{
		height: 80px;
	}
}