<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

        <title></title>
        <meta name="description" content="HTML 5 CSS 3 Spring Form"/>

        <meta name="viewport" content="width=device-width,initial-scale=1"/>

    </head>
    <body>
        <h1>Project</h1>
        <h2 th:text="${name}">DynamiaCMS</h2>
    </body>
</html>
