.crosstab{

}


.crosstab-row:hover, .crosstab-row td:hover, .crosstab-row:hover *{
    background: #ffd177;
}

.crosstab-col:hover,  .crosstab-col:hover *{
    background: #ffd177;
}

.crosstab-rowspan0{
    font-weight: bold;
}

.crosstab-rowlabel{
    color: #00367c;
}

.crosstab-total *{
    font-weight: bold;
    color: #003a84;
    margin-right: 5px;
}

.crosstab-totalcol *{
    font-weight: bold;
    color: #003a84;
}

.crosstab-details *, .crosstab-detail *,  .crosstab-detail{
    white-space: nowrap
}

.crosstab-details a:link{
    color: #0f567e;
    font-weight: bold;
}



.crosstab-auxcol *{
    font-weight: bold;
}

.crosstab-auxcol1 *,.crosstab-auxcol6 * {

    background-color: #fcfd80;
}

.crosstab-auxcol2 *,.crosstab-auxcol7 *{

    background-color: #9eff9c;
}

.crosstab-auxcol3 *,.crosstab-auxcol8 *{

    background-color: #bee8fd;
}

.crosstab-auxcol4 *,.crosstab-auxcol9 *{

    background-color: #fda1a1;
}

.crosstab-auxcol5 *,.crosstab-auxcol10 *{

    background-color: #eb8fff;
}

