html, body{
    overflow:hidden;
    margin:0;
    padding:0;
}

/*================ TEMPLATE =================*/

.header{        
}

.menu{
    background-color: #f7f6f6;
}

.menu a:link, .menu a:visited{    
    color: #53778a;
    text-decoration:none;    
}

.menu a:hover{
    color: #2a3845;        
    text-decoration:underline;

}

.menu .z-tab-accordion-text{
    font-weight:bold;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 8pt;
}



.menuPanel{
    background-color:white;
}

.topMenu{
    float:right;       

}

.content{

}


.footer{    

}

.logo{
    background-image: url(../images/LogoWhite.png);    
    width: 162px;
    height: 30px;
    float: left;
    margin-left: 10px;
    margin-top: 8px;
    margin-right: 20px;
}


.transparent, .transparent .z-combobox-inp{
    background: transparent;
    border:0;
}


.noBorder, .noBorder div.z-grid, .noBorder tr.z-row td.z-row-inner {
    border:0px solid transparent;
    padding:2px;
}

.loginDialog{
    width: 507px;
    height: 257px;
    background-image: url(../images/login.png);
}



.loginTxt{    
    text-align: center;        
    color: #0d456a;
}


.loginMsg{
    color:maroon;
    font-weight: bold;
    text-align: center;
    width: 100%;
}



.content{
    padding: 10px;
}

.pageContent .z-tab-text{
    font-size: 13px;
}

.pageContent .z-tab{
    line-height: 20px;
}