<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">

    <body th:fragment="content">

        <h4 class="heading4">Ingrese sus datos de acceso</h4>

        <form id="loginForm" class="form-vertical" action="#" th:action="@{/users/login}"  method="post">

            <div class="form-group ml0">
                <label  class="col-lg-12 control-label">Correo Electronico: <span class="red">*</span></label>
                <div class="col-lg-12">
                    <input id="username" name="username" type="email"  class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-lg-12 control-label">Password: <span class="red">*</span></label>
                <div class="col-lg-12">
                    <input id="password" name="password" type="password"  class="form-control"/>
                </div>
            </div>
            <div class="form-group">                
                <div class="col-lg-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="_spring_security_remember_me" />
                            Recuerdame
                        </label>
                    </div>
                </div>
            </div>

         

            <br/>
            <a  class="btn btn-orange" onclick="$('#loginForm').submit();">Entrar</a>

        </form>

    </body>
</html>