<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="template">


<div class="maincontainer page" layout:fragment="content">

	<div class="container">

		<h1 class="doc-title"><i class="fa fa-user"></i> User Profile</h1>
		<form id="userForm" class="form-horizontal" action="#" th:action="@{/users/profile}" th:object="${userForm}" method="post">

			<div class="row mt20">

				<div class="card card-block mt20 col-md-6 col-xs-12">
					<div class="row">
						<div class="col-md-4">
							<strong>Email Address:<span class="red">*</span></strong>
						</div>
						<div class="col-md-8">
							<span th:text="*{data.username}" />
						</div>
					</div>
					<div class="md-form mt20">
						<label>Identification</label>
						<input type="text" class="form-control" th:field="*{data.identification}" />
					</div>

					<div class="md-form">
						<label>First Name<span class="red">*</span></label>

						<input type="text" class="form-control" th:field="*{data.firstName}" />

					</div>

					<div class="md-form">
						<label>Last Names</label>

						<input type="text" class="form-control" th:field="*{data.lastName}" />

					</div>
				</div>

				<div class="card card-block mt20  col-md-6 col-xs-12">
					<h3>Contact Info</h3>
					<div class="md-form mt20">
						<label>Alternate Email Address:</label>

						<input type="email" class="form-control" th:field="*{data.contactInfo.email}" />

					</div>

					<div class="md-form">
						<label>Phone Number:</label>

						<input type="tel" class="form-control" th:field="*{data.contactInfo.phoneNumber}" />

					</div>

					<div class="md-form">
						<label>Mobile Number:</label>

						<input type="tel" class="form-control" th:field="*{data.contactInfo.mobileNumber}" />

					</div>
				</div>

				<div class="card card-block mt20  col-md-12 col-xs-12">
					<h3>Contact Address</h3>


					<div class="row mt40">
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" th:each="uci : ${userContactInfos}">
							<address>
								<strong><a class="orange" title="Editar" th:href="@{'/users/addresses/'+${uci.id}+'/edit'(redirect='/users/profile')}"
								th:text="${uci.name}"></a></strong> <br /> <span th:text="${uci.info.address}"></span><br /> <span th:text="${uci.info.country}"></span>,
								<span th:text="${uci.info.region}"></span> - <span th:text="${uci.info.city}"></span><br /> <abbr title="Telefono">Tel:</abbr>								<span th:text="${uci.info.phoneNumber}"></span><br /> <abbr title="Celular">Cel:</abbr> <span th:text="${uci.info.mobileNumber}"></span><br
								/> <a th:href="@{'/users/addresses/'+${uci.id}+'/remove'}"><i class="icon-remove-sign"> </i> Delete</a>
							</address>
						</div>
					</div>
					<a class="btn btn-primary" th:href="@{/users/addresses/add(redirect='/users/profile')}">New Address</a>
				</div>

			</div>

			<div class="row mt20">
				<div class="col-md-12">
					<input type="hidden" name="redirect" th:value="${redirect}" />
					<input type="hidden" th:field="*{data.id}" />
					<button class="btn btn-success" type="submit">Update Profile</button>
				</div>
			</div>
		</form>

	</div>
</div>



</html>