<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="template">


<div class="container page" layout:fragment="content">

    <div class="card card-block">
        <!--Header-->
        <div class="text-center">
            <h3>Forgot Password?</h3>
            <p>We send you an email with a new password</p>
            <hr class="mt-2 mb-2">
        </div>


        <form id="userForm" class="form-vertical" action="#" th:action="@{/users/resetpassword}" th:object="${userForm}" method="post">

            <div class="md-form">
                <i class="fa fa-envelope prefix"></i>
                <input type="text" class="form-control" th:field="*{data.username}" />
                <label for="form2">Enter your email address</label>
            </div>
            <br/>

            <button class="btn btn-deep-orange" type="submit">Reset Password</button>
            <input type="hidden" th:field="*{data.id}" />
        </form>
    </div>
</div>


</html>