<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<body th:fragment="content">
		<div id="telefonos" class="container-fluid hidden-xs hidden-sm">
			<div class="container">
				<div class="col-close"><a href="#" class="closeTel"><i class="fa fa-times" aria-hidden="true"></i></a></div>
				<div class="col-telefonos">
					<ul>
						<li class="separador"></li>
						<li class="ciudad">
							<h3>Cartagena</h3>
							<div>
								<span class="nombreTienda">Sede Principal</span>
								<span class="telefonoTienda">Tel: (5)693 0423</span>
								<span class="celularTienda">Cel: 318 285 2962</span>									
							</div>
							<div>
								<span class="nombreTienda">C.C. Centro Uno</span>
								<span class="telefonoTienda">Tel: (5)660 2294</span>
								<span class="celularTienda">Cel: 316 454 0576</span>
							</div>
							<div>
								<span class="nombreTienda">C.C. La Plazuela</span>
								<span class="telefonoTienda">Tel: (5)663 5663</span>
								<span class="celularTienda">Cel: 318 741 9014</span>
							</div>
							<div>
								<span class="nombreTienda">C.C. La Castellana</span>
								<span class="telefonoTienda">Tel: (5)653 0506</span>
								<span class="celularTienda">Cel: 316 521 4146</span>
							</div>
							<div>
								<span class="nombreTienda">Centro, Av. Venezuela</span>
								<span class="telefonoTienda">Tel: (5)664 5971</span>
								<span class="celularTienda"></span>
							</div>
						</li>
						<li class="separador"></li>
						<li class="ciudad">
							<h3>Monteria</h3>
							<div>
								<span class="nombreTienda">C.C. Paseo Central</span>
								<span class="telefonoTienda">Tel: (4)791 0939</span>
								<span class="celularTienda">Cel: 317 440 7652</span>									
							</div>
							<div>
								<span class="nombreTienda">C.C. Alameda 2</span>
								<span class="telefonoTienda">Tel: (4)791 9230</span>
								<span class="celularTienda">Cel: 318 285 3852</span>									
							</div>
							<div>
								<span class="nombreTienda">Centro (Innovation Store)</span>
								<span class="telefonoTienda">Tel: (4)789 4347</span>
								<span class="celularTienda">Cel: 318 708 0325</span>									
							</div>
						</li>
						<li class="separador"></li>
						<li class="ciudad">
							<h3>Riohacha</h3>
							<div>
								<span class="nombreTienda">C.C. Suchiimma</span>
								<span class="telefonoTienda">Tel: (5)7292442 - (5)7292443</span>
								<span class="celularTienda">Cel: 315 7532955</span>									
							</div>

						</li>
						<li class="separador"></li>
						<li class="ciudad">
							<h3>Santa Marta</h3>
							<div>
								<span class="nombreTienda">C.C. Plazuela 23</span>
								<span class="telefonoTienda">Tel: (5)421 3646</span>
								<span class="celularTienda">Cel: 315 652 5548</span>									
							</div>
							<div>
								<span class="nombreTienda">C.C. Ocean Mall 2</span>
								<span class="telefonoTienda">Tel: (5)422 9030</span>
								<span class="celularTienda">Cel: 316 387 9448</span>									
							</div>
							<div>
								<span class="nombreTienda">C.C. Buenavista</span>
								<span class="telefonoTienda">Tel: (5)436 3593</span>
								<span class="celularTienda"></span>									
							</div>

						</li>
						<li class="separador"></li>
						<li class="ciudad">
							<h3>Valledupar</h3>
							<div>
								<span class="nombreTienda">Centro</span>
								<span class="telefonoTienda">Tel: (5)588 5289</span>
								<span class="celularTienda">Cel: 318 827 6516</span>									
							</div>
							<div>
								<span class="nombreTienda">C.C. Mayales</span>
								<span class="telefonoTienda">Tel: (5)572 0090</span>
								<span class="celularTienda"></span>									
							</div>

						</li>
						<li class="separador"></li>
					</ul>
				</div>
				<div class="col-mapaTiendas">
					<div><a href="#">Localizar Tiendas</a></div>
				</div>
			</div>
		</div>
	</body>
</html>