<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <!-- Main Menu -->

    <body th:fragment="content">
        <div class="container"> 
            <div class="row">
                <div class="col-lg-3 col-xs-12 col-sm-6 contact">
                    <h2> <i class="icon-phone-sign"></i>Cartagena</h2>

                    <ul class="productinfo">
                        <li>
                            <span  class="productinfoleft">Sede Principal</span>
                            <span>6930423</span>                            	
                        </li>    
                        <li>
                            <span  class="productinfoleft">Centro Uno</span>
                            <span>6602294</span>                            	
                        </li> 
                        <li>
                            <span  class="productinfoleft">Castellana</span>
                            <span>6530506</span>                            	
                        </li> 
                        <li>
                            <span  class="productinfoleft">Plazuela</span>
                            <span>6510238</span>                            	
                        </li> 
                        <li>
                            <span  class="productinfoleft">Dpto Tecnico </span>
                            <span>6930423</span>                            	
                        </li> 
                    </ul>
                </div>
                <div class="col-lg-3 col-xs-12 col-sm-6 contact">
                    <h2> <i class="icon-phone-sign"></i>Santa Marta</h2>

                    <ul class="productinfo">
                        <li>
                            <span  class="productinfoleft">Plazuela 23</span>
                            <span>4213646</span>                            	
                        </li>    
                        <li>
                            <span  class="productinfoleft">Ocean Mall</span>
                            <span>4308897</span>                            	
                        </li> 
                        <li>
                            <span  class="productinfoleft">Dpto Tecnico</span>
                            <span>4302952</span>                            	
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-xs-12 col-sm-6 contact">
                    <h2> <i class="icon-phone-sign"></i>Monteria</h2>

                    <ul class="productinfo">
                        <li>
                            <span  class="productinfoleft">Clle 32 con 4ta</span>
                            <span>7810939</span>                            	
                        </li>    
                        <li>
                            <span  class="productinfoleft">Calle 41 (Circunvalar)</span>
                            <span>7897159</span>                            	
                        </li> 
                        <li>
                            <span  class="productinfoleft">Alamedas 2</span>
                            <span>7852206</span>                            	
                        </li> 
                      
                        <li>
                            <span  class="productinfoleft">Dpto Tecnico </span>
                            <span>7810939</span>                            	
                        </li> 
                    </ul>
                </div>
                <div class="col-lg-3 col-xs-12 col-sm-6 contact">
                    <h2> <i class="icon-phone-sign"></i>Riohacha</h2>

                    <ul class="productinfo">
                        <li>
                            <span  class="productinfoleft">CC. Suchiima</span>
                            <span>7283780</span>                            	
                        </li>                          
                        <li>
                            <span  class="productinfoleft">Dpto Tecnico </span>
                            <span>7283780</span>                            	
                        </li> 
                    </ul>
                </div>
            </div>
            <div class="pull-right" th:include="tpl_payment::content"/>
            <br/> <br/>
            <i class="icon-envelope"></i> Quejas y Sugerencias : <span class="orange"><a href="mailito:servicioalcliente@compulago.net">servicioalcliente@compulago.net</a></span>    

        </div>
    </body>

</html>
