<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<body th:fragment="content">
		<div id="catalogos" class="container-fluid hidden-xs hidden-sm">
			<div class="container">
				<div class="col-close"><a href="#" class="closeTel"><i class="fa fa-times" aria-hidden="true"></i></a></div>
				<div class="col-catalogo-linea">
					<span class="titulo">Conoce nuestras promociones y productos destacados.<br>Descarga nuestros catalogos PDF actualizados semanalmente, y aprovecha las ofertas.</span>
					<ul class="pdf">
						<li class="desktops">
							<a href="javascript:ampliarpdf(1)">
								<span class="recuadro">
									PC Escritorio<br><span class="small-title">Descargar PDF</span><br><i class="fa fa-download" aria-hidden="true"></i>
								</span>
							</a>
						</li>
						<li class="laptops">
							<a href="javascript:ampliarpdf(2)">
								<span class="recuadro">
									Portatiles<br><span class="small-title">Descargar PDF</span><br><i class="fa fa-download" aria-hidden="true"></i>
								</span>
							</a>
						</li>
						<li class="tablets">
							<a href="javascript:ampliarpdf(3)">
								<span class="recuadro">
									Tablets<br><span class="small-title">Descargar PDF</span><br><i class="fa fa-download" aria-hidden="true"></i>
								</span>
							</a>
						</li>
						<li class="impresoras">
							<a href="javascript:ampliarpdf(4)">
								<span class="recuadro">
									Impresoras<br><span class="small-title">Descargar PDF</span><br><i class="fa fa-download" aria-hidden="true"></i>
								</span>
							</a>
						</li>
						<li class="partes">
							<a href="javascript:ampliarpdf(5)">
								<span class="recuadro">
									Partes<br><span class="small-title">Descargar PDF</span><br><i class="fa fa-download" aria-hidden="true"></i>
								</span>
							</a>
						</li>

					</ul>
				</div>
				<div class="col-mapaTiendas">
					<div><a href="#">Localizar Tiendas</a></div>
				</div>
			</div>
		</div>					
	</body>
</html>
