<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<body th:fragment="content">
		<ul class="cat-nav">
		  <li class="icono computadores">
		    <a href="/store/categories/548/computadores">
		      <div class="jico"></div>
		      Computadores
		    </a>
		    <div class="sub-cat">
		      <ul>
		        <li>
		          <a href="/store/categories/552/todo-en-uno">Todo en Uno</a>
		        </li>
		        <li>
		          <a href="/store/categories/550/clones">Clones</a>
		        </li>
		        <li>
		          <a href="/store/categories/549/torres">Torres</a>
		        </li>
		        <li>
		          <a href="/store/categories/551/de-marca">De Marca</a>
		        </li>
		        <li>
		          <a href="/store/categories/553/servidores">Servidores</a>
		        </li>
		      </ul>
		      <ul>
		        <li class="sub-title">Software</li>
		      	<li><a href="/store/categories/634/antivirus">Antivirus</a></li>
		      	<li><a href="/store/categories/635/office">Office</a></li>
		      	<li><a href="/store/categories/636/windows">Windows</a></li>
		      </ul>
		    </div>
		  </li>

		  <li class="icono portatiles">
		    <a href="/store/categories/555/portatiles">
		      <div class="jico"></div>
		      Portatiles
		    </a>
		    <div class="sub-cat">
		      <ul>
		      	<li><a href="/store/categories/555/portatiles">Portatiles</a></li>
		      </ul>
		      <ul>
		        <li class="sub-title">Repuestos</li>
		      	<li><a href="/store/categories/593/baterias-laptop">Baterias</a></li>
		      	<li><a href="/store/categories/594/cargadores-laptop">Cargadores</a></li>
		      	<li><a href="/store/categories/595/discos-laptop">Discos</a></li>
		      	<li><a href="/store/categories/596/ram-laptop">Memorias</a></li>
		      	<li><a href="/store/categories/597/pantallas-laptop">Pantallas</a></li>
		      	<li><a href="#">Teclados</a></li>
		      </ul>
		      <ul>
		        <li class="sub-title">Accesorios</li>
		      	<li><a href="/store/categories/587/accesorios-laptop">Accesorios</a></li>
		      	<li><a href="/store/categories/588/bases-laptop">Bases</a></li>
		      	<li><a href="/store/categories/589/fundas-laptop">Fundas</a></li>
		      	<li><a href="/store/categories/591/Morrales-laptop">Morrales</a></li>
		      </ul>
		    </div>
		  </li>

		  <li class="icono tablets">
		    <a href="/store/categories/556/tablets-cels">
		      <div class="jico"></div>
		      Tablets & Celulares
		    </a>
		    <div class="sub-cat">
		      <ul>
		      	<li><a href="/store/categories/557/celulares">Celulares</a></li>
		      	<li><a href="/store/categories/558/tablets">Tablets</a></li>
		      </ul>
		      <ul>
		        <li class="sub-title">Accesorios</li>
		      	<li><a href="/store/categories/563/estuches-fundas">Estuches & Fundas</a></li>
		      	<li><a href="/store/categories/566/power-bank">Power Bank</a></li>
		      	<li><a href="/store/categories/560/otros-accesorios-tablets">Otros</a></li>
		      </ul>
		    </div>
		  </li>

		  <li class="icono impresoras">
		    <a href="/store/categories/610/impresoras">
		      <div class="jico"></div>
		      Impresoras
		    </a>
		    <div class="sub-cat">
		      <ul>
		        <li>
		          <a href="/store/categories/660/inyeccion">Inyección</a>
		        </li>
		        <li>
		          <a href="/store/categories/663/laser">Laser</a>
		        </li>
		        <li>
		          <a href="/store/categories/664/matriz-punto">Matriz de Punto</a>
		        </li>
		        <li>
		          <a href="/store/categories/630/termica-pos">Termicas POS</a>
		        </li>
		        <li>
		          <a href="/store/categories/665/tinta-continua">Tinta Continua</a>
		        </li>
		        <li>
		          <a href="/store/categories/648/scanner">Scanners</a>
		        </li>
		      </ul>
		      <ul>
		        <li class="sub-title">Suministros</li>
		      	<li><a href="/store/categories/613/cartuchos">Cartuchos</a></li>
		      	<li><a href="/store/categories/614/tintas">Tintas</a></li>
		      	<li><a href="/store/categories/615/toners">Toners</a></li>
		      </ul>

		    </div>
		  </li>
		  <li class="icono pc-accesorios">
		    <a href="/store/categories/567/pc-accesorios">
		      <div class="jico"></div>
		      PC Accesorios & Más
		    </a>
		    <div class="sub-cat">
		      <ul>
		        <li>
		          <a href="/store/categories/568/audifonos">Audifonos</a>
		        </li>
		        <li>
		          <a href="/store/categories/569/audifonos-microfono">Audifonos+Microfono</a>
		        </li>
		        <li>
		          <a href="/store/categories/603/camaras-web">Camaras Web</a>
		        </li>
		        <li>
		          <a href="/store/categories/570/game-pad">Game Pad</a>
		        </li>
		        <li>
		          <a href="/store/categories/571/mouse">Mouse</a>
		        </li>
		        <li>
		          <a href="/store/categories/572/pad-mouse">Pad Mouse</a>
		        </li>
		        <li>
		          <a href="/store/categories/573/tablas-digitalizadoras">Tablas Digitalizadoras</a>
		        </li>
		        <li>
		          <a href="/store/categories/574/teclados">Teclados</a>
		        </li>
		        <li>
		          <a href="/store/categories/575/teclados-mouse">Teclados + Mouse</a>
		        </li>
		        <li>
		          <a href="/store/categories/619/mesas">Mesas</a>
		        </li>
		      </ul>
		      <ul>
		        <li class="sub-title">Protectores de Energía</li>
		      	<li><a href="/store/categories/656/ups">UPS</a></li>
		      	<li><a href="/store/categories/655/reguladores">Reguladores</a></li>
		      </ul>
		    </div>
		  </li>
		  <li class="icono pc-partes">
		    <a href="/store/categories/576/PC-partes">
		      <div class="jico"></div>
		      PC Partes & Más
		    </a>
		    <div class="sub-cat">
		      <ul>
		        <li>
		          <a href="/store/categories/577/boards">Boards</a>
		        </li>
		        <li>
		          <a href="/store/categories/578/discos-duros">Discos Duros</a>
		        </li>
		        <li>
		          <a href="/store/categories/580/fuente-atx">Fuentes ATX</a>
		        </li>
		        <li>
		          <a href="/store/categories/581/memoria-ram">Memoria RAM</a>
		        </li>
		        <li>
		          <a href="/store/categories/582/tarj-de-video">Tarjetas de Video</a>
		        </li>
		        <li>
		          <a href="/store/categories/583/tarjeta-pci">Tarjetas PCI</a>
		        </li>
		        <li>
		          <a href="/store/categories/584/torre-atx">Torres ATX</a>
		        </li>
		        <li>
		          <a href="/store/categories/585/unidades">Unidades</a>
		        </li>
		        <li>
		          <a href="/store/categories/622/monitores-led">Monitores</a>
		        </li>
		      </ul>
		    </div>
		  </li>
		  <li class="icono redes">
		    <a href="/store/categories/641/redes">
		      <div class="jico"></div>
		      Redes
		    </a>
		    <div class="sub-cat">
		      <ul>
		        <li>
		          <a href="/store/categories/642/antenas">Antenas</a>
		        </li>
		        <li>
		          <a href="/store/categories/643/routers">Routers</a>
		        </li>
		        <li>
		          <a href="/store/categories/644/switch">Switch</a>
		        </li>
		        <li>
		          <a href="/store/categories/645/tarjetas">Tarjetas</a>
		        </li>
		        <li>
		          <a href="/store/categories/646/wifi-usb-adaptadores">Wifi USB Adaptadores</a>
		        </li>
		      </ul>
		    </div>
		  </li>
		  <li class="icono pos">
		    <a href="/store/categories/628/pos">
		      <div class="jico jico-tv-sound"></div>
		      Puntos de Venta
		    </a>
		    <div class="sub-cat">
		      <ul>
		        <li>
		          <a href="/store/categories/629/cajones">Cajones</a>
		        </li>
		        <li>
		          <a href="/store/categories/630/impresoras-pos">Impresoras POS</a>
		        </li>
		        <li>
		          <a href="/store/categories/631/lectores">Lectores</a>
		        </li>
		        <li>
		          <a href="/store/categories/632/pantallas">Pantallas</a>
		        </li>
		      </ul>
		    </div>
		  </li>
		  <li class="icono parlantes">
		    <a href="/store/categories/623/parlantes-mas">
		      <div class="jico jico-tv-sound"></div>
		      Parlantes y Más
		    </a>
		    <div class="sub-cat">
		      <ul>
		        <li>
		          <a href="/store/categories/624/parlantes-20-21">Parlantes 2.0 / 2.1</a>
		        </li>
		        <li>
		          <a href="/store/categories/625/parlantes-51">Parlantes 5.1 +</a>
		        </li>
		        <li>
		          <a href="/store/categories/626/portables">Portables</a>
		        </li>
		        <li>
		          <a href="/store/categories/627/sencillos">Sencillos</a>
		        </li>
		      </ul>
		      <ul>
		      	<li>
		      		<a href="/store/categories/602/camaras-digitales">Camaras Digitales</a>
		      	</li>
		      	<li>
		      		<a href="/store/categories/604/memory-card">Memory Card</a>
		      	</li>
		      </ul>
		      <ul>
		      	<li>
		      		<a href="/store/categories/617/consolas">Consolas</a>
		      	</li>
		      </ul>
		    </div>
		  </li>
		  <li class="icono usb">
		    <a href="/store/categories/605/usb-adaptadores">
		      <div class="jico jico-tv-sound"></div>
		      USB & Adaptadores
		    </a>
		    <div class="sub-cat">
		      <ul>
		        <li>
		          <a href="/store/categories/608/memorias-usb">Memorias USB</a>
		        </li>
		        <li>
		          <a href="/store/categories/607/discos-usb">Discos USB</a>
		        </li>
		        <li>
		          <a href="/store/categories/604/memory-card-2">Memory Card</a>
		        </li>
		        <li>
		          <a href="/store/categories/609/porta-discos">Porta Discos</a>
		        </li>
		        <li>
		          <a href="/store/categories/606/adaptadores">Adaptadores</a>
		        </li>
		        <li>
		          <a href="/store/categories/600/convertidores">Convertidores</a>
		        </li>
		        <li>
		          <a href="/store/categories/599/cables">Cables</a>
		        </li>

		      </ul>
			</div>
		  </li>
		  <li class="icono proyectores">
		    <a href="/store/categories/637/proyectores-dvr">
		      <div class="jico jico-tv-sound"></div>
		      Proyectores & DVR
		    </a>
		    <div class="sub-cat">
		      <ul>
		        <li>
		          <a href="/store/categories/638/proyectores">Proyectores</a>
		        </li>
		        <li>
		          <a href="/store/categories/639/punteros-laser">Punteros Laser</a>
		        </li>
		        <li>
		          <a href="/store/categories/640/telones">Telones</a>
		        </li>
		      </ul>
		      <ul>
		      	<li class="sub-title">Monitoreo</li>
		      	<li><a href="/store/categories/651/camaras-seguridad">Camaras de Seguridad</a></li>
		      	<li><a href="/store/categories/653/dvr">DVR</a></li>
		      	<li><a href="/store/categories/650/accesorios">Accesorios</a></li>
		      </ul>
			</div>
		  </li>
		  <li class="icono apoyo"><img src="/img/slogan-marca.png" class="img-responsive"></li>
		</ul>
	</body>
</html>