<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<body th:fragment="content">
	
	<form action="#" class="form-inline" th:action="@{/mailing/subscribe}" th:object="${mailingContact}" method="post">
            <input type="search" placeholder="Escribe tu correo" class="form-control" th:field="*{emailAddress}" style="width: 250px"/>
            <button type="submit" class="btn btn-warning btn-small tooltip-test">Suscribete</button>
            <input type="hidden" name="currentURI" id="currentURI" th:value="${currentURI}" />
        </form>
</body>

</html>
