<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <!-- Main Menu -->

    <body th:fragment="content">


        <div id="webchat">
            <a  title="Habla con nuestros asesores en linea ahora mismo!" 
                class="tooltip-test" 
                href="http://app.compulago.net:8086/webchat/start.jsp?workgroup=admin@workgroup.app.compulago.net"
                target="framemain" onClick="window.open(this.href, this.target, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=500,height=400');
                        return false;">
                <span><i class="icon-comments"></i> Chatea con nosotros</span>

            </a>
        </div>


    </body>

</html>
